@font-face {
    font-family: 'iconfont';  /* project id 1548918 */
    src: url('//at.alicdn.com/t/font_1548918_6yxelkshsfe.eot');
    src: url('//at.alicdn.com/t/font_1548918_6yxelkshsfe.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1548918_6yxelkshsfe.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1548918_6yxelkshsfe.woff') format('woff'),
    url('//at.alicdn.com/t/font_1548918_6yxelkshsfe.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1548918_6yxelkshsfe.svg#iconfont') format('svg');
  }
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .law-down:before {
    content: "\e604";
    font-size: 18px;
  }
  .law-top:before {
    content: "\eb42";
    font-size: 18px;
  }
  .law-zhongzhi:before {
      content: "\e603";
      font-size: 18px;
  }
  .law-sousuo:before {
    content: "\e601";
    font-size: 18px;
  }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.law-back:before {
  content: "\e6a9";
}

.law-upload:before {
  content: "\eb41";
}

.law-approval:before {
  content: "\e6d4";
}

.law-delete:before {
  content: "\e650";
}

.law-edit:before {
  content: "\e6ed";
}

.law-print:before {
  content: "\e84e";
}

.law-eye:before {
  content: "\e602";
}

.law-save:before {
  content: "\e600";
}

.law-submit-o:before {
  content: "\e746";
}

.law-add:before {
  content: "\e735";
}

.law-icon_:before {
  content: "\e65b";
}

.law-icon-test:before {
  content: "\e65d";
}

.law-icon-test1:before {
  content: "\e65e";
}

.law-icon-test2:before {
  content: "\e65f";
}

.law-icon-test3:before {
  content: "\e663";
}

.law-icon-test4:before {
  content: "\e66b";
}

.law-icon-test5:before {
  content: "\e66c";
}

.law-icon-test6:before {
  content: "\e66d";
}

.law-icon-test7:before {
  content: "\e66e";
}

.law-icon-test8:before {
  content: "\e66f";
}

.law-icon-test9:before {
  content: "\e670";
}

.law-icon-test10:before {
  content: "\e671";
}

.law-icon-test11:before {
  content: "\e672";
}

.law-icon-test12:before {
  content: "\e673";
}

.law-icon-test14:before {
  content: "\e674";
}

.law-icon_falv:before {
  content: "\e66a";
}

.law-btn_bianji:before {
  content: "\e660";
}

.law-icon_del:before {
  content: "\e661";
}

.law-icon_bumen:before {
  content: "\e662";
}

.law-icon_jigou:before {
  content: "\e664";
}

.law-icon_quanxian:before {
  content: "\e665";
}

.law-icon_shou_bag:before {
  content: "\e666";
}

.law-icon_weihu:before {
  content: "\e667";
}

.law-icon_yonghu:before {
  content: "\e668";
}

.law-icon_zhan_bag:before {
  content: "\e669";
}

.law-home:before {
  content: "\e612";
}

.law-message:before {
  content: "\e675";
}

