@import "../basicStyle/variables.scss";

#width600px {
  width: 600px;
}

#width200px {
  width: 200px;
}

#caseName {
  width : 600px;
  height: 50px;
}

#inquestAddress {
  width: 200px;
}

#inquestStaff {
  width: 50px;
}

#staffUnitAndPosition {
  width: 100px;
}

#staffCerti_No {
  width: 80;
}

#partyIdentify {
  width: 200px;
}

#sex {
  width: 50px;
}

#age {
  width: 50px;
}

#unitAndPosition {
  width: 150px;
}

#address {
  width: 200px;
}

#telphone {
  width: 200px;
}

#invited {
  width: 200px;
}

#invitedUnitAndPosition {
  width: 200px;
}

#recorder {
  width: 150px;
}

#recorderUnitAndPosition {
  width: 300px;
}

#inquestResult {
  width : 600px;
  height: 60px;
}

div {
  flex-shrink: 0;
}

.box {
  width        : calc(100% - 44px);
  height       : 0;
  min-height   : 100%;
  padding      : 0 22px 65px 22px;
  margin-bottom: 65px;
  background   : rgba(255, 255, 255, 1);
  box-shadow   : 0 6px 4px 0 rgba(94, 137, 181, 0.1);

  .header {
    width        : 100%;
    flex         : 0 0 51px;
    border-bottom: 1px solid rgba(221, 221, 221, 1);

    .header_left {
      width      : auto;
      height     : 100%;
      margin-left: 23px;
      float      : left;
      cursor     : pointer;
      display    : flex;
      align-items: center;

      .header_left_text {
        font-size  : 14px;
        font-family: PingFang SC;
        font-weight: 400;
        color      : rgba(100, 105, 116, 1);
        line-height: 51px;
        margin-left: 7px;
      }
    }
  }

  .content_box {
    width         : 100%;
    flex          : none;
    display       : flex;
    flex-direction: column;
    align-items   : center;

    & .el-textarea {
      width: 100%;
    }

    & .el-form {
      width: 100%;

      & .el-form-item {
        margin-bottom: 10px !important;

        & .el-input__inner {
          border-radius: 2px;
        }

        & .el-form-item__error {
          padding-top: 0;
        }
      }
    }

    & .el-date-editor {
      width      : 100%;
      height     : 32px !important;
      line-height: 32px !important;

      & .el-range-input {
        width: 150px;
      }

      & .el-range-input {
        width: 150px;
      }

      & .el-range__icon {
        position: absolute;
        right   : 10px;
        top     : 0;
      }
    }

    & .el-select {
      width: 100%;
    }

    & .el-input__inner {
      padding-top   : 0 !important;
      padding-bottom: 0 !important;
    }

    .content {
      width         : 818px;
      height        : auto;
      display       : flex;
      flex-direction: column;
      align-items   : center;

      .content_title {
        flex         : 0 0 25px;
        margin-top   : 32px;
        margin-bottom: 23px;
        font-size    : 26px;
        font-family  : PingFang SC;
        font-weight  : 600;
        color        : rgba(32, 35, 43, 1);
        text-align   : center;
        line-height  : 25px;
      }

      .content_form {
        width         : 794px;
        height        : auto;
        padding       : 28px 22px 10px 0;
        background    : rgba(252, 252, 252, 1);
        border-left   : 1px solid rgba(238, 238, 238, 1);
        border-right  : 1px solid rgba(238, 238, 238, 1);
        display       : flex;
        flex-direction: column;
        align-items   : center;

        .row {
          width  : 100%;
          display: flex;
        }

        .rows {
          width     : 100%;
          display   : flex;
          margin-top: 16px;
        }

        .col {
          flex: 1;
        }
      }

      .content_text {
        width        : 774px;
        margin-top   : 27px;
        margin-bottom: 34px;
        padding      : 0 22px 0 22px;

        .content_text_title {
          width      : 100%;
          font-size  : 14px;
          font-family: PingFang SC;
          font-weight: 500;
          color      : rgba(123, 123, 123, 1);
          line-height: 20px;
        }

        .content_text_area {
          width     : 100%;
          margin-top: 14px;
        }
      }
    }
  }

}

.border_blue {
  width     : 100%;
  border-top: 10px solid rgba(69, 115, 208, 1);
}

.triangle {
  position    : relative;
  width       : 0;
  height      : 0;
  border-width: 0 6px 6px;
  border-style: solid;
  border-color: transparent transparent rgba(221, 221, 221, 1);
  transform   : rotate(-90deg)
}

.triangle:after {
  content     : "";
  position    : absolute;
  top         : 2px;
  left        : -4px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: transparent transparent #fff;
}


