.case_home {
    .input-with-select .el-input-group__prepend {
        background-color: #fff;
    }

    .casehome_tag {
        .el-tabs__active-bar {
            width: 25% !important;
        }

        .el-tabs__item {
            width          : 25% !important;
            text-align     : center;
            /* border-right: 1px solid #d8dbe0; */
            color          : #9fa3af;
            height         : auto;
            padding        : 0px !important;
        }

        .borderLine {
            border-right: 1px solid #d8dbe0;
            position    : absolute;
            top         : 10px;
            right       : 0px;
            width       : 0px;
            height      : 46px;
        }

        .is-active {
            color: #409eff;

            .case_number {
                /* font-size: 40px; */
                color       : #0074f5;
                font-weight : 540;
            }

            .case_discribe {
                /* font-size: 18px; */
                line-height : 18px;
                font-weight : 540;
            }
        }

        .el-tab-pane {
            padding: 0 20px 20px 20px;
        }

        .el-tabs__header {
            margin: 0;
        }

        .el-tabs__nav {
            width: 100%;
        }

        .el-radio-group {
            float: right;
        }
    }

    .el-tabs__content {
        background: #fff;
        margin-top: 0px;
    }


    .el-tabs--border-card>.el-tabs__content {
        padding: 0;
    }

    .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
        background-color: rgba(230, 234, 242, 1);
    }

    .icon_content .el-row {
        height     : 60px;
        line-height: 50px;
        text-align : center;
    }

    .icon_content .el-col {
        border: 1px solid red;
    }

    .programType .el-radio__input {
        display: none;
    }

    .casehome_topic_select {
        float     : right;
        width     : 110px;
        margin-top: -5px;
        /* height : 16px; */
    }

    .casehome_topic_select .el-input__inner {
        border   : 0px solid white;
        /* height: 16px; */
    }

    .casehome_topic_select.el-input__inner {
        border: 0;
    }

    .tablebox .el-table__header {
        background: #e9edf6;
    }

    #tab-fourth .el-tabs__item {
        border: 0 !important;
    }

    .case_home_bottom {
        .el-radio-button {
            width: 88px !important;
        }

        .el-radio-button:last-child {
            /* width: */
            width   : 47px !important;
        }
    }

    .el-radio-button__inner {
        padding   : 9px 16px;
        background: #f6f8fd;
    }



}