@import "../basicStyles/variables.scss";

.caseFormBac {
  background: #ffffff;
  margin    : 22px;

  &>p {
    line-height: 50px;
    text-align : center;
    font-size  : 20px;
  }

  &>div {
    overflow: hidden;
    margin  : auto;
    width   : 70%;

    .item {
      width: 49%;
    }

    .item:nth-child(1) {
      float: left;
    }

    .item:nth-child(2) {
      float: right;
    }

    .itemThird {
      width: 32%;
      float: left;
    }

    .itemFive {
      width: calc(20% - 20px);
      float: left;
    }

    .itemThird:nth-child(2) {
      margin: 0 2%;
    }

    .itemBig {
      width: 66%;
      float: left;
    }

    .itemSmall {
      float: right;
      width: 32%;
    }

    .hasMargintop {
      margin-top: 3px;
    }

    .appendSelect {
      .el-select {
        width: 90px;

        .el-select__caret {
          line-height: 100%;
        }
      }

    }

    .el-date-editor.el-input,
    .el-date-editor.el-input__inner {
      width: 100%;
    }

    #lawPersonBox {
      position: relative;

      .el-form-item__content button {
        position     : absolute;
        right        : 0;
        height       : 32px;
        width        : 20px;
        top          : 4px;
        border-radius: 0;

        i {
          position: absolute;
          left    : 13px;
          top     : 9px;
        }
      }

      .el-select {
        width: calc(100% - 17px);
      }
    }

  }

  .driverOrAgentBox {
    &>div {
      overflow: hidden;
    }
  }

  .buttonBox {
    text-align: center;
    padding   : 20px 0;
  }

  .el-select {
    width: 100%;
  }

}

#inforCollectionBox {
  position: absolute;
  width   : 100%;
  height  : 100%;
  overflow: auto;

  .linkPart {
    width     : 100%;
    background: $cats-gray-color;
    position  : fixed;
    top       : 92px;
    height    : 60px;
    z-index   : 10;
    text-align: center;

    .linkPartCon {
      margin-left: -200px;
    }

    a {
      display       : inline-block;
      padding       : 10px 20px;
      vertical-align: middle;
      margin-top    : 13px;
      box-sizing    : border-box;
      color         : #20232B;
    }

    .activeA {
      background: #4573D0;
      color     : #fff;
    }
  }

  .caseInfoForm {
    margin-top: 82px;
  }

  .caseSubmitBtn {
    width     : 48px;
    height    : 48px;
    background: #4573D0;
    position  : fixed;
    bottom    : 120px;
    right     : 100px;
    color     : #fff;
    font-size : 12px;

    i {
      display      : block;
      margin-bottom: 2px;
    }

    padding: 0;
  }

  .caseSubmitBtn2 {
    bottom    : 50px;
    background: #4AAFA7;
  }

  #judgeFreedomBox {
    margin-bottom: 20px;

    p {
      color        : #606266;
      font-size    : 14px;
      margin-bottom: 10px;
    }

    li {
      background   : #fff;
      border       : 1px solid #DDDDDD;
      overflow     : hidden;
      line-height  : 34px;
      margin-left  : 20px;
      padding-left : 20px;
      margin-bottom: 10px;

      div {
        float       : left;
        margin-right: 10px;
      }

      &>div:nth-child(2) {
        min-width  : 400px;
        margin-left: 100px;
      }

      span.selectIcon {
        display: none;
      }
    }

    .activeJudgli {
      background: #EAEDF4;
      border    : 1px solid #4573D0;
      color     : #4573D0;
      position  : relative;

      span.selectIcon {
        display : inline-block;
        position: absolute;
        right   : 10px;
      }

    }
  }
  .afddBox{
    position: relative;
    overflow: inherit;
    .showMapBtn{
      position: absolute;
      right: -100px;
      top: 4px;
    }
  }
  .el-input-number--mini .el-input--mini .el-input__inner{
    height: 28px;
  }

}

.chooseLawPer {
  height  : 300px;
  overflow: hidden;

  &>div {
    width        : 50%;
    height       : 100%;
    float        : left;
    box-sizing   : border-box;
    border-bottom: 1px solid #D6DBE3;

    &>p {
      color        : #9FA3AF;
      margin-bottom: 10px;
    }

  }

  .choosed {
    padding-right: 22px;
    border-right : 1px solid #D6DBE3;

    div {
      &>span {
        margin-right : 10px;
        margin-bottom: 5px;
      }
    }
  }

  .choose {
    padding-left: 22px;

    .el-input {
      margin-bottom: 10px;
    }

    .el-input__inner {
      height     : 32px;
      line-height: 32px;
    }

    .userList {
      height  : 200px;
      overflow: auto;

      .el-checkbox-group {
        .el-checkbox {
          display     : block;
          height      : 30px;
          margin-right: 0;

          span.name {
            display: inline-block;
            width  : 80px;
          }
        }

        .el-input__inner {
          border: none;
        }

        .el-select {
          width: 120px;
        }
      }
    }
  }

}

.caseRegisterForm {
  .el-select {
    width: 100%;
  }

  #illegalActBox {
    .el-input {
      position: relative;

      .el-input-group__append {
        position: absolute;
        left    : 0;
        top     : 0;
        width   : 100%;
        padding : 0;
        opacity : 0;
        height  : 100%;
        cursor  : pointer;

        button {
          width  : 100%;
          height : 100%;
          padding: 0;
          margin : 0;
        }
      }
    }

  }
}

.illegalActSearchForm {
  &>div {
    overflow: hidden;

    &>div {
      float: left;
    }

    .item {
      width: 32%;

    }

    .item:nth-child(2) {
      margin: 0 2%;
    }

    .itemBig {
      width       : 80%;
      margin-right: 2%;
    }

    .itemSmall {
      width: 18%;
    }
  }

}

// .paginationBox {
//   margin-top: 10px;
// }

.showApprovePeople {
  max-height: 200px;
  overflow  : auto;

  .part {
    margin  : 10px 0;
    overflow: hidden;

    &>div {
      float: left;
    }

    &>div:nth-child(1) {
      width     : 30%;
      margin-top: 10px;
    }

    &>div:nth-child(2) {
      width: 70%;
    }

    .el-tag {
      margin-left  : 10px;
      margin-bottom: 10px;
    }
  }
}

//搜索栏
.caseHandleSearchPart {
  display: flex;
  right  : 20px;

  &>div:first-child {
    width     : 10%;
    margin-top: 5px;
  }

  &>div:last-child {
    width: 90%;

    .caseSearchForm {
      width: 100%;

      &>div {
        display        : flex;
        flex-wrap      : wrap;
        justify-content: flex-start;

        .item {

          // width: 20%;
          button {
            margin-top: 5px;
          }
        }

        &>div:last-child {
          // width      : 15%;
          // margin-left: 5%;
        }

      }
    }

    .caseSearchForm>div.waitDealStyle {
      .item {
        // width: 15%;
      }

      &>div:last-child {
        // width: 10%;
      }
    }

    .caseSearchForm>div.approveIngStyle {
      .item {
        // width: 18%;
      }

      &>div:last-child {
        // width: 10%;
      }
    }

    .caseSearchForm>div:last-child {
      .item {
        // width: 50%;
      }
    }

    .caseSearchForm>div.lineTwoStyle {
      .item {

        // width: 33.3%;
        &>div {

          // width: 100%;
          .el-date-editor--daterange.el-input__inner {
            // width   : 100%;
            height     : 32px;
            line-height: 26px;
          }
        }
      }
    }

    .caseSearchForm>div.hideSomeSearchClass {
      display: none;
    }
  }

  &>div.fullWid {
    width: 100%;
  }
}

.el-icon-time,
.el-icon-circle-close {
  line-height: 0;
}

.fullscreen .searchAndpageBox {
  padding       : 20px;
  animation     : switchHeight2 0.4s;
  -moz-animation: switchHeight2 0.4s;
  /* Firefox */
  -webkit-animation: switchHeight2 0.4s;
  /* Safari and Chrome */
  -o-animation: switchHeight2 0.4s;
  /* Opera */
}

.fullscreen .searchAndpageBox2 {
  // padding          : 20px;
  // animation        :switchHeight 1s;
  // -moz-animation   :switchHeight 1s; /* Firefox */
  // -webkit-animation:switchHeight 1s; /* Safari and Chrome */
  // -o-animation     :switchHeight 1s; /* Opera */
}

.el-input__inner {
  border-radius: 0px;
}

.fullscreen .el-select {
  margin-right: -15px;
  width       : calc(100%);

  .el-select__caret {
    margin-right: -10px !important;
  }
}

.fullscreen .el-date-editor {
  height     : 33px;
  line-height: 33px;
  //padding  : 0px 10px;
}

@keyframes switchHeight {
  from {
    padding-top: 60px;
  }

  to {
    padding-top: 120px;
  }
}

@-moz-keyframes switchHeight

/* Firefox */
  {
  from {
    padding-top: 60px;
  }

  to {
    padding-top: 120px;
  }
}

@-webkit-keyframes switchHeight

/* Safari 和 Chrome */
  {
  from {
    padding-top: 60px;
  }

  to {
    padding-top: 120px;
  }
}

@-o-keyframes switchHeight

/* Opera */
  {
  from {
    padding-top: 60px;
  }

  to {
    padding-top: 120px;
  }
}

@keyframes switchHeight2 {
  from {
    padding-top: 20px;
  }

  to {
    padding-top: 20px;
  }
}

@-moz-keyframes switchHeight2

/* Firefox */
  {
  from {
    padding-top: 20px;
  }

  to {
    padding-top: 20px;
  }
}

@-webkit-keyframes switchHeight2

/* Safari 和 Chrome */
  {
  from {
    padding-top: 20px;
  }

  to {
    padding-top: 20px;
  }
}

@-o-keyframes switchHeight

/* Opera */
  {
  from {
    padding-top: 20px;
  }

  to {
    padding-top: 20px;
  }
}

/* 置顶 */
.el-backtop {
  background-color  : transparent;
  -webkit-box-shadow: none;
  box-shadow        : none;
}

.next_btn {
  width: 118px;
  float: right;
}

.tablePart_select {
  height            : calc(100% - 235px);
  overflow          : auto;
  padding-top       : 3px;
  -webkit-box-sizing: border-box;
  box-sizing        : border-box;

  .el-table__body tr.current-row>td {
    background-color: #4573D0;
    color           : #fff;
  }

  .el-table--striped .el-table__body tr.el-table__row--striped.current-row td {
    background-color: #4573D0;
  }

}

.disabled_btn {
  .el-button--primary {
    color           : #fff;
    background-color: #a0b5e0;
    border-color    : #a0b5e0;
  }
}

.casehome_dialog {
  padding   : 42px;
  box-sizing: border-box;
}

.dialo {
  span:focus {
    outline: 0;
  }
}

.center {
  text-align: center;
}

.line {
  margin-top      : 12px !important;
  margin-bottom      : 18px !important;
  border-bottom: 1px dashed #DFDFDF;
}
