
@import "../basicStyles/fontOrBgColorStylesSet.scss";
@import "./lawSuperviseFunc.scss";

.flexBox {
    display: flex;
}

.amap-demo {
    position: relative;
    width: 500px;
    height: 300px;
}
.mainBox {
    position: relative;
    // margin: 22px;
    // padding: 10px;
    overflow:hidden;
    height: calc(100% - 0px);
    // border: 20px solid white;
    box-shadow:0px 6px 4px 0px rgba(94,137,181,0.1);
    .amap-page-container {
        // height: 100vh;
    }
 }
 .el-select-dropdown {
    margin-top: -1px !important;
    border-radius: 0px;
    border: none;
    box-shadow:0px 2px 3px 0px rgba(6,10,19,.28);
    .popper__arrow {
        display:none;
    }
    .el-select-dropdown__item {
        height: 40px;
        line-height: 40px;
    }
 }
 .amap-search {
    position: absolute;
    left: 27px;
    top: 45px;
    width: 455px;
    // z-index: 1500;
    line-height: 46px;
    display: flex;
    box-shadow:0px 2px 3px 0px rgba(6,10,19,0.28);
   //  height: 40px;
   .el-select {
       // width: 120px;
       flex: 0.4;
       margin-right: -1px;
       margin-top: 1px;

   }
   .el-input {
       flex: 0.6;
       height: 46px;
       line-height: 46px;
       .el-input__inner {
           border-radius: 0px;
           border: 0px;
       }
       // margin-right: -1px;
       .el-input__inner {
           height: 46px;
           line-height: 46px;
       }
   }
   .el-input__inner:focus{
       border-color: #DCDFE6 !important;
   }
   .el-button {
       margin-top: 1px;
       background: rgb(2, 118, 250,0.9);
       height: 46px;
       border: none;
       &:hover{
           background: rgb(2, 118, 250,0.9);
       }
       .el-icon-search {
           font-size: 20px;
           color:white;
       }
   }
   .search-box-blue {
       height: 46px;
       border:0px;
    //    border-top: 1px solid #DCDFE6;
    //    border-left: 1px solid #DCDFE6;
    //    border-bottom: 1px solid #DCDFE6;
       box-shadow: none;
       border-radius: 0px;
       margin-top: 1px;
   }
   .amap-tool-search{
    left:0px;
    z-index:150;
    top:48px;
    border-top: 1px solid #f2f2f2;
    width:100%;
    background:white;
    text-align:center;
    height: auto;
    position: absolute;
    box-sizing: border-box;
    display: visible !important;
    box-shadow:0px 2px 3px 0px rgba(6,10,19,0.28);
    .el-tree-node {
        // line-height: 35px;
        // height: 35px;
        .el-tree-node__content{
            height: 35px;
            .custom-tree-node {
                .tree-node-icon {
                    margin:0px 7px 0px 3px;
                    vertical-align: -3px;
                }
            }
        }
    }
    .tabBtn{
        background: none;
        height:auto;
        width: 192px;
        padding:0px;
        padding-top: 5px;
        box-sizing: border-box;
        img {
            margin-top: 15px;
        }
        .name {
            display: inline-block;
            // height: 90px;
            line-height: 90px;
            vertical-align: middle;
            padding-left:10px;
            margin-top: -10px;
        }
    }
    .isCheck{
        background: #f2f2f2;
    }
    .el-tree-node__label_1 {
        background:url('../../../../static/images/img/lawSupervise/icon_jc1.png') no-repeat;
        padding-left: 27px;
        line-height: 25px;
    }
   }
}
.search-btn-icon {
    position: absolute;
    font-size: 23px;
    line-height: 33px;
    border-left: 1px solid #e0e0e0;
    padding: 0px 11px;
    color: #4573D0;
    left: 309px;
    z-index: 10;
    margin-top: 9px;
}
 .el-vue-search-box-container {
     flex: 1;
    .search-box-wrapper .search-btn {
        background: #4573D0 !important;
        font-family: 'element-icons';
        color:transparent !important;
        border: 0px;
        border-left:0px;
        &:before{
            content: "\e778" !important;
            color: white !important;
            font-size: 18px;
            margin-left: 14px;
            font-weight: bolder;
        }
    }
    .search-tips {
        width: calc(100% - 45px);
        border-top: 0px;
        border-bottom: 0px;
        margin-top: -1px;
        border:0px !important;
        li {
            overflow:hidden;
        }
        .autocomplete-selected {
            background:#F3F4FD;
        }
    }
 }

.drop-down-menu {
    background: white;
    border:none;
    color: $cats-white-color;
    width: 100%;
    // position: absolute;
    left: 0px;
    top: 45px;
    border-radius: 0px;
    // box-shadow:0px 2px 3px 0px rgba(6,10,19,0.28);
    .el-menu {
        width:100%;
        border:none;
    }
    // z-index: 1500;
    li {
        height: 40px;
        line-height: 40px;
        text-align: left;
        padding-left: 15px;
        cursor: pointer;
        // border-bottom: 1px solid rgb(52, 110, 177);
     //    box-shadow: 0px 2px 1px rgba(196, 222, 248, 0.2);
        color: #5F5F61;
        &:hover {
        //  background: #F3F4FD;
         // color: #4281D9;
        }
        i {
            font-size: 14px;
            // margin-top: 20px;
            margin-right: 7px;
            display:inline-block;
        }
        i.el-submenu__icon-arrow {
            margin-top: -7px;
        }
        p {
            display: inline-block;
        }
        .el-submenu__title {
            height: 100%;
            line-height: 40px;
            background: none;
        }
        .el-menu {
            position: absolute;
            margin-left:132px;
            background:white;
            width: 120px;
            top: 1px;
            padding: 0px;
         //    padding-top:10px;
            border: 1px solid #f2f2f2;
            .el-menu-item {
                 width: 100%;
                 min-width: 100%;
                 line-height: 40px;
            }

        }
    }
    .select {
        //  background: #F3F4FD;
        background:#4573D0;
        color: white;
        border-bottom: 1px solid  white;
     }
 }

.el-menu--vertical {
    padding: 10px 0px;
    .el-menu {
        padding: 17px 0px;
        line-height: 22px;
        li {
            padding-bottom: 14px;
            padding-left: 17px;
            cursor: pointer;
        }
        li:hover {
            background: #ecf5ff;
            box-sizing: border-box;
        }
    }
}
.amap-info {
    // position: absolute !important;
    // left: 26px !important;
    // // top: 85px !important;
    // bottom: 0px !important;
    // offset: 0px !important;
    // top: 50% !important;
    // margin-top: 390px !important;
    // height: 20px;
    // width: 401px;
    // * {
    //     // position: relative;
    // }
}
 .amap-info-content {
    // background: transparent;
    background:rgba(255, 255, 255, 1);
    box-shadow:0px 2px 3px 0px rgba(6,10,19,0.28);
    border:0px;
    padding: 0px;
    color: #7B7B7B;
    font-size: 12px;
    width: 402px;

    // padding: 5px;
    // .lawWindowTitle {
    //     font-size: 16px;
    //     color:#20232B;
    // }
    .lawWindowTitle {
        background: #4573D0;
        color:white;
        display: flex;
        justify-content:space-between;
        padding-left: 17px;
        img {
            width: 59px;
            height: 59px;
            margin: 20px;
        }
        .titleBox {
            line-height: 25px;
            padding: 22px 0px;
            color:white;
            text-align: left;
            flex:1;
            .nickName {
                font-size: 16px;
            }
            .num {
                color: #DAE3F4;

            }
        }
        .title {
            line-height: 35px;
            text-align: left;
            flex:1;
            margin-left: 10px;
        }
        .right {
            font-size: 12px;
            width: 65px;
            text-align: center;
            box-sizing: border-box;
            margin-top: 10px;
            .status {
                background: white;
                border-radius: 50%;
                width:30px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                .iconfont {
                    color:#b3b3b3;
                }
            }
            p {
                color:white;
            }
        }
    }
    .lawWindowStyle0 {
        // background: rgba(0,155,255,0.9);
        // padding: 10px 17px 10px 17px;
        // color:white;
        line-height:35px;
        width: 455px;
        position: fixed;
        top:190px;
        left:227px;
        background: white;
        box-shadow:0px 2px 3px 0px rgba(6,10,19,0.28);
    }
    .lawWindowStyle1 {
        // background: rgba($cats-base-green-color,0.9);
        // padding: 10px 17px 10px 17px;
        // color:white;
        line-height:35px;
        width: 455px;
        position: fixed;
        top:190px;
        left:227px;
        background: white;
        white-space: nowrap;
        box-shadow:0px 2px 3px 0px rgba(6,10,19,0.28);
    }
    .lawWindowStyle2 {
        // background: rgba($cats-red-color,0.9);
        // padding: 10px 17px 10px 17px;
        // color:white;
        width: 455px;
        position: fixed;
        top:190px;
        left:227px;
        background: white;
        line-height:35px;
        box-shadow:0px 2px 3px 0px rgba(6,10,19,0.28);
    }
    .lawWindowStyle3 {
        // background: rgba($cats-orange-color,0.9);
        // padding: 10px 17px 10px 17px;
        // color:white;
        line-height:35px;
        width: 455px;
        position: fixed;
        top:190px;
        left:227px;
        background: white;
        box-shadow:0px 2px 3px 0px rgba(6,10,19,0.28);
    }
    .lawWindowStyle4 {
        // background: rgba($cats-base-green-color,0.9);
        // min-width: 445px;
        padding: 0px;
        width: 455px;
        position: fixed;
        top:190px;
        left:227px;
        background: white;
        // color:white;
        line-height:35px;
        box-shadow:0px 2px 3px 0px rgba(6,10,19,0.28);
        .lawWindowTitle {
            padding: 0 10px;
            background: rgba($color: black, $alpha: 0.7);
            margin-top: -14px;
            color:white;
            letter-spacing: 1px;
        }
        .flexBox {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .lawWindowStyle5 {
        // background: rgba(0,155,255,0.9);
        // padding: 10px 17px 10px 17px;
        // color:white;
        line-height:35px;
        width: 100%;
    }
    .lawWindowStyle6 {
        // background: rgba(0,155,255,0.9);
        // padding: 10px 17px 10px 17px;
        // color:white;
        line-height:35px;
        width: 100%;
    }
    .lawWindowStyle7 {
        // background: rgba(0,155,255,0.9);
        // padding: 10px 17px 10px 17px;
        // color:white;
        line-height:35px;
        width: 100%;
    }
    .lawWindowStyle-po {
        // background: white;
        overflow:hidden;
        height: 40px;
        position: absolute;
        margin-left: 0px;
        width: auto;
        margin-top: -30px;
        background:white;
        right: 50%;
        margin-right: 30px;
        box-shadow: 0px 2px 4px 0px rgba(39, 66, 122, 0.35);
        .lawWindowTitle {
            background: white;
            // line-height: 40px;
            // height: 40px;
            margin: -14px 40px 0px 0px;
            margin-left: 10px;
            color: #20232B;
            img,.iconfont {
                width: 18px;
                height:18px;
                margin: 0px;
                font-size: 18px;
                // vertical-align: middle;
                margin-top:24px;
                margin-left:10px;
            }
            .titleBox {
                color: #20232B;
                vertical-align: middle;
                margin-left:8px;
            }
            .title {
                line-height: 70px;
            }
        }
    }

    .noneWindow {
        padding: 10px;
    }
    .flexBox {
        margin:0px 22px;
        font-size: 14px;
        line-height: 30px;
    }
    .flex-title {
        line-height: 25px;
        vertical-align: -3px;
        margin-top: -20px;
        margin-bottom: 15px;
        font-size: 14px;
        img {
            margin-right: 5px;
            width: 16px;
            height: 16px;
            vertical-align: -3px;
        }
    }
    .btns {
        // margin-top: 10px;
        margin: 22px;
        border-top: 1px solid #FDFCFF;
        // overflow: hidden;
        // padding-top: 10px;
        span.phoneBtn {
            background: $cats-grayF0-color;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: inline-block;
            text-align: center;
            line-height: 38px;
            margin:0px 14px 14px 14px;
            cursor: pointer;
            vertical-align: middle;
            float: left;
            i{
                font-size: 18px;
            }
        }
        .lineh {
            line-height: 15px !important;
            box-sizing: border-box;
            padding-top: 5px;
        }
        span.blueBg {
            background: #4573d0;
            color: white;
        }
        .el-icon-location {
            margin: 0px;
        }
    }
    .con {
        flex: 1;
        margin-top: 7px;
        p {
            line-height:40px;
        }
        .el-table__row {
            height: 40px;
        }
    }
   .status {
       flex: 0.3;
       margin: 10px 10px 0 18px;
       line-height: 20px;
       text-align: center;
       i {
           font-size: 18px;
       }
   }
   .right {
       float:right;
   }
 }
 .amap-info-close {
    top: -15px !important;
    right: 50% !important;
    margin-right: 40px;
    // color: white;

}
 .amap-position-right {
    position: absolute;
    top:47px;
    box-shadow:0px 2px 3px 0px rgba(6,10,19,0.28);
 }
 .amap-info-sharp {
    //  background: transparent;
    display: none;
 }
 .mapPointBox {
     width: 280px;

 }
//  .el-popover {
//     z-index: 3300 !important;
// }
.amap-position {
    position: absolute;
    // z-index:2000;
 }
 .amap-rtl-box {
    right: 0px;
    // top: 30%;
    .el-drawer__wrapper {
        top: 92px;
        right:0px !important;
        width: 480px !important;
        // min-width: 400px;
        left: auto;
    }
    .amap-main-content {
        position: relative;
        overflow:auto;
        height: 82vh;
        padding: 0px;
        @include echartsStyle(400px, false);
     }
     .drawerBtn {
        position: absolute;
        cursor: pointer;
        width: 26px;
        height: 89px;
        background: url('../../../../static/images/img/lawSupervise/btn_norshouqi2.png');
        right:0px;
        z-index: 10;
        i {
            line-height: 86px;
            margin-left: 6px;
            border-left: 1px;
            color: #868688;
        }
    }
    .amap-tool {
        position: absolute;
        // left:450px;
        right: 27px;
        top: 22px;
        // z-index: 5;
        display: flex;
        box-shadow:0px 2px 3px 0px rgba(6,10,19,0.28);
        .amap-main-content {
            position: absolute;
            height: auto;
        }
        .el-icon-caret-top {
            color: white;
            position: absolute;
            top: -14px;
            margin-left: -12px;
            font-size: 22px;
        }
        .el-button{
            height: 35px;
            line-height: 26px;
            border-radius: 4px;
            background: white;
            color: #20232B;
            position:relative;
            border: 0px;
            border-radius: 0px;
            height: 46px;
            margin:0px;
            border-right: 2px solid white;
            // &:hover {
            //     background: rgba(29, 121, 214, 0.9);
            //     color: $cats-white-color;
            // }
            img {
                float:left;
                padding-right: 7px;
            }
        }
        .skinBtn {
            font-size: 22px;
            // background:#4573D0;
            color:#4573D0;
            width: 48px;
            i {
                margin-left:-7px;
            }
        }
        .no-border {
            border:0px;
            width: 75px;
            height:40px;
            line-height: 40px;
            margin: -10px -10px 0 -10px;
            cursor: pointer;
            input {
                border: none;
                cursor: pointer;
            }

        }
        .w75 {
            width: 75px;
        }
        .w100 {
            width: 100px;
        }
        .w160 {
            width: 158px;
        }

        .top-title {
            display: flex;
            .el-button {
                flex:1;
                text-align: left;
                padding-left:30px;
                line-height: 55px;
                height: 66px;
                img {
                    margin-top:11px;
                }
            }
        }
    }
     .amap-drawer {
        overflow: visible;
        .drawerBtn {
            margin-left: -26px;
            margin-top: 44%;
            width: 26px;
            height: 89px;
            background: url('../../../../static/images/img/lawSupervise/btn_norshouqi2.png');
            bottom: 50%;
            left:0px;
            cursor: pointer;
            i {
                line-height: 86px;
                margin-left: 6px;
                border-left: 1px;
            }
        }
    }
 }

 .amap-btt-box {
    right: 0px;
    top: 30%;
    .el-drawer__wrapper {
        width: calc(100% - 202px);
        left: 202px;
        top:calc(100% - 380px);
        .el-drawer__container {
            // height: 25%;
        }
    }
    .el-drawer__body {
        // overflow:auto;
        .amap-main-content {
            position: relative;
            @include echartsStyle(100%, true);
         }
    }
     .drawerBtn {
        margin-left: 50%;
        width: 26px;
        height: 89px;
        background: url('../../../../static/images/img/lawSupervise/btn_norshouqi2.png');
        bottom: -32px;
        left:0px;
        transform:rotate(90deg);
        position: fixed;
        cursor: pointer;
        z-index: 30;
        i {
            line-height: 86px;
            margin-left: 6px;
            border-left: 1px;
            color: #868688;
        }
    }
     .amap-drawer {
        overflow: visible;
        .w-400 {
            width: 400px;
        }
        .w-680 {
            width: 680px;
        }
        .drawerBtn {
            margin-left: 50%;
            width: 26px;
            height: 89px;
            background: url('../../../../static/images/img/lawSupervise/btn_norshouqi2.png');
            bottom: auto;
            left:-23px;
            transform:rotate(90deg);
            position: absolute;
            top:-57px;
            cursor: pointer;
            z-index: 50;
            i {
                line-height: 86px;
                margin-left: 6px;
                border-left: 1px;
            }
        }
    }

 }
 .widthDrawer600 {
    // .drawerBtn {
    //     right:530px;
    //     z-index: 100;
    // }
    .el-drawer__wrapper {
        width: 570px !important;
        // padding:17px;
        box-sizing: border-box;
        .amap-main-content .echarts-box {
            width: 100%;
        }

    }
 }
 .circle {
    width: 16px;
    height:16px;
    border-radius:50%;
    text-align: center;
 }
 .titleflag {
    width      : 4px;
    height     : 16px;
    display    : inline-block;
    background : #4573D0;
    margin-right: 10px;
    vertical-align:-2px;
}

.left-500 {
    left: -480px !important;
}
.leftTabelHoverDiv {
    line-height: 30px;
}
/////////////////////////////////////待改
/* 车辆查验 */
.vehicle-dialog {

    // height: 900px !important;
    .el-dialog__body {
        padding: 0;
    }

    .check-vehicle {

        text-align: center;

        .top {
            height     : 118px;
            line-height: 118px;
            background : #4573D0;
        }

        .banner {
            height    : 44px;
            box-sizing: border-box;
            background: #4573D0;

            i {
                font-size     : 20px;
                vertical-align: middle;
            }
        }

        .table-padding {
            padding   : 32px 30px 0;
            height    : 675px;
            box-sizing: border-box;
        }

        .el-tabs__item {
            height: 42px;
        }

        .map,
        .list {
            height: 675px;
        }

        .el-tabs__content {
            height: 0;
        }

        .el-input-group {
            width: 441px;
        }

        .el-input-group__append,
        .el-input-group__prepend {
            background-color: #FFFFFF;
            color           : #20232B;
            border          : 1px 0 solid #DCDFE6;
            border-radius   : 0;
            padding         : 0px 3px 0px 10px;
        }

        .el-input-group__prepend {
            width: 92px;
        }

        .el-tabs--border-card {
            border            : 0;
            -webkit-box-shadow: none !important;
            box-shadow        : none !important;
        }

        .el-tabs__nav-scroll {
            background: #4573D0;
        }

        .el-tabs--border-card>.el-tabs__header .el-tabs__item {
            color: #fff;
        }

        .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
            color: #409EFF;
        }

        .el-tabs__nav {
            float        : none;
            border-bottom: 1px solid #DFDFDF;
        }

        i {
            margin-right: 8px;
        }
    }


    .map {
        .map-top {
            height       : 61px;
            border-bottom: 1px solid #979797;
            padding      : 26px 30px 11px;
            line-height  : 22px;
            box-sizing   : border-box;


        }

        .map-top-title {
            float      : left;
            font-size  : 16px;
            font-weight: 500;
            color      : rgba(123, 123, 123, 1);
        }

        .map-top-icon {
            margin-left: 22px;
            float      : right;
            font-size  : 14px;
            font-weight: 400;
            color      : rgba(69, 115, 208, 1);

            i {
                margin-right  : 6px;
                vertical-align: middle;
            }
        }

        .map-btm {
            height    : calc(100% - 61px);
            padding   : 22px;
            box-sizing: border-box;
        }

        .map-search {
            padding      : 16px 0 0 22px;
            height       : 90px;
            margin-bottom: 17px;
            background   : #4AAFA7;
            color        : #FFFFFF;
            box-sizing   : border-box;

            ul {
                clear        : both;
                margin-bottom: 11px;

                li {
                    width     : 33%;
                    float     : left;
                    text-align: left;
                }
            }

            .el-progress {
                display: inline-block;
                width  : 196px;

                .el-progress__text {
                    font-size  : 12px !important;
                    font-weight: 400;
                    color      : #fff;
                }

            }

            .el-input__inner {
                padding    : 0 30px 0 5px;
                width      : 163px !important;
                height     : 26px;
                line-height: 26px;
                background : rgba(62, 149, 143, 1);
                border     : 0;
                color      : white;
            }

            .el-date-editor,
            .el-input,
            .el-input--prefix,
            .el-input--suffix,
            .el-date-editor--date {
                width: 163px !important;

                i {
                    color     : white;
                    margin-top: -4px;
                }

                .el-input__icon {
                    line-height: auto;
                }

                .el-input__prefix {
                    left : auto;
                    right: 0;

                }
            }
        }

        .map-box {
            height: calc(100% - 107px);
        }

    }

    .list {
        p {
            margin     : 22px 0 12px;
            height     : 20px;
            font-size  : 14px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color      : rgba(32, 35, 43, 1);
            line-height: 20px;
            text-align : left;
        }

        ul {
            width     : 100%;
            padding   : 0 28px 0 23px;
            box-sizing: border-box;

        }

        li {
            clear        : both;
            border-bottom: 1px solid #EEF0F5;
            min-height   : 108px;
            box-sizing   : border-box;

            .left {
                width: calc(100% - 100px);
            }

            .right {
                width: 100px;
            }

        }

        .main-info {
            td {
                height     : 20px;
                text-align : left;
                font-size  : 14px;
                font-weight: 400;
                color      : rgba(123, 123, 123, 1);
            }
        }

        .search-box {
            height    : 66px;
            text-align: left;
            padding   : 0 22px;
            box-sizing: border-box;
        }

        .list-search {
            .el-form-item {
                margin-top   : 22px;
                margin-bottom: 0;
            }

            .el-form-item__label {
                color: #7B7B7B;
            }

            .el-input__inner {
                width: 123px;
            }

            button {

                border: 0;
                color : white;

            }

            .btnstyle {
                background-color: #4AAFA7 !important;
                width           : 100px;
                border-color    : #4AAFA7 !important;
            }
        }
    }
}
.f22 {
    font-size: 22px;
}
/* 表格样式 */
.table-style {
    table {
        width: 820px;

        td {
            border     : 1px solid #DFDFDF;
            box-sizing : border-box;
            height     : 46px;
            line-height: 20px;
            min-width  : 150px;
            font-size  : 14px;
            font-weight: 500;
            color      : rgba(32, 35, 43, 1);
            text-align : left;
            padding    : 13px 10px;
        }

        .table-bg {
            background: #F4F8FF;
        }
    }

}

/* 阴影盒子样式 */
.shadow-box {
    padding   : 24px 0 54px;
    width     : 100%;
    box-shadow: 0px 2px 4px 0px rgba(39, 66, 122, 0.35);
    box-sizing: border-box;

    .info-box {
        width : 820px;
        margin: 0 auto;
    }
}

.title-box {
    margin-bottom: 14px;
    height       : 25px;

    .title-blue {
        margin    : 5px 8px 0 0;
        display   : block;
        float     : left;
        width     : 4px;
        height    : 16px;
        background: rgba(69, 115, 208, 1);

    }

    .title-text {
        font-size  : 18px;
        font-weight: 500;
        color      : rgba(32, 35, 43, 1);
        line-height: 25px;
    }
}

/* 证据图片 */
.evidence-img {
    margin-top: 5px;
    min-height: 111px;

    li {
        margin: 0 21px 28px 0;
        width : 189px;
        float : left;

    }

    .img-url {
        margin-bottom: 8px;
        height       : 111px;
        background   : #D8D8D8;
        box-sizing   : border-box;
        overflow     : hidden;
        text-align   : center;

        img {
            height: 100%;
        }
    }

    .img-title {
        font-size  : 14px;
        font-weight: 400;
        color      : rgba(123, 123, 123, 1);
        line-height: 20px;
    }

    .img-url-upload {
        margin-bottom : 8px;
        height        : 111px;
        background    : #EDEFFD;
        text-align    : center;
        vertical-align: middle;
        line-height   : 111px;

        img {
            vertical-align: middle;
        }
    }

}

.margin-right0 {
    margin-right: 0 !important;
}

.evidence-img:after {
    content   : '\20';
    display   : block;
    height    : 0;
    clear     : both;
    visibility: hidden;
    overflow  : hidden;
}

.bg-white {
    background: white;
}

.left {
    float: left;
}

.right {
    float: right;
}

.width198 {
    width: 198px;
}

.margin-top22px {
    margin-top: 22px;
}

.keyVehicleDentails {
    padding   : 22px;
    box-sizing: border-box;
}
.lawScreenFull {
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:100;
    .el-drawer__wrapper {
        top:0px;
    }
    .amap-btt-box {
        .el-drawer__wrapper {
            width: 100%;
            left: 0px;
            top:calc(100% - 380px);
        }
    }
    .lawWindowStyle0,.lawWindowStyle1,.lawWindowStyle2,.lawWindowStyle3,.lawWindowStyle4,.lawWindowStyle5,.lawWindowStyle6 {
        left: 22px;
        top: 74px;
    }
    .amap-main-content  {
        height: 92vh;
    }
}
