
@import "../basicStyles/fontOrBgColorStylesSet.scss";
@import "./lawSuperviseFunc.scss";
.flexBox {
    display: flex;
}

.amap-demo {
    position: relative;
    width: 500px;
    height: 300px;
}
.mainBox {
    position: relative;
    // margin: 22px;
    // padding: 10px;
    overflow:hidden;
    height: calc(100% - 0px);
    // border: 20px solid white;
    box-shadow:0px 6px 4px 0px rgba(94,137,181,0.1);
 }
 .el-select-dropdown {
    margin-top: -1px !important;
    border-radius: 0px;
    border: none;
    box-shadow:0px 2px 3px 0px rgba(6,10,19,.28);
    .popper__arrow {
        display:none;
    }
    .el-select-dropdown__item {
        height: 40px;
        line-height: 40px;
    }
 }
 .amap-search {
    position: absolute;
    left: 27px;
    top: 22px;
    width: 400px;
    z-index: 1500;
    line-height: 46px;
    display: flex;
    box-shadow:0px 2px 3px 0px rgba(6,10,19,0.28);
   //  height: 40px;
   .el-select {
       // width: 120px;
       flex: 0.4;
       margin-right: -1px;
       margin-top: 1px;

   }
   .el-input {
       flex: 0.6;
       height: 46px;
       line-height: 46px;
       .el-input__inner {
           border-radius: 0px;
           border: 0px;
       }
       // margin-right: -1px;
       .el-input__inner {
           height: 46px;
           line-height: 46px;
       }
   }
   .el-input__inner:focus{
       border-color: #DCDFE6 !important;
   }
   .el-button {
       margin-top: 1px;
       background: rgb(2, 118, 250,0.9);
       height: 46px;
       border: none;
       &:hover{
           background: rgb(2, 118, 250,0.9);
       }
       .el-icon-search {
           font-size: 20px;
           color:white;
       }
   }
   .search-box {
       height: 46px;
       border:0px;
    //    border-top: 1px solid #DCDFE6;
    //    border-left: 1px solid #DCDFE6;
    //    border-bottom: 1px solid #DCDFE6;
       box-shadow: none;
       border-radius: 0px;
       margin-top: 1px;
   }
}

 .el-vue-search-box-container {
     flex: 0.8;
    .search-box-wrapper .search-btn {
        background:none !important;
        font-family: 'element-icons';
        color:transparent !important;
        border: 0px;
        border-left:0px;
        &:before{
            content: "\e778" !important;
            color: #7B7B7B !important;
            font-size: 18px;
            // margin-left: 12px;
            font-weight: bolder;
        }
    }
    .search-tips {
        width: calc(100% - 45px);
        border-top: 0px;
        border-bottom: 0px;
        margin-top: -1px;
        border:0px !important;
        li {
            overflow:hidden;
        }
        .autocomplete-selected {
            background:#F3F4FD;
        }
    }
 }
 .amap-tool {
    position: absolute;
    left:450px;
    top: 22px;
    z-index: 1300;
    display: flex;
    box-shadow:0px 2px 3px 0px rgba(6,10,19,0.28);
    .el-icon-caret-top {
        color: white;
        position: absolute;
        top: -14px;
        margin-left: -12px;
        font-size: 22px;
    }
    .el-button{
        height: 35px;
        line-height: 26px;
        border-radius: 4px;
        background: white;
        color: #20232B;
        position:relative;
        border: 0px;
        border-radius: 0px;
        height: 46px;
        margin:0px;
        border-right: 2px solid white;
        // &:hover {
        //     background: rgba(29, 121, 214, 0.9);
        //     color: $white;
        // }
        img {
            float:left;
            padding-right: 7px;
        }
    }
    .drop-down-menu {
       background: white;
       border-right: 2px solid white;
       color: $white;
       width: 100%;
       position: absolute;
       left: 0px;
       top: 45px;
       border-radius: 0px;
       box-shadow:0px 2px 3px 0px rgba(6,10,19,0.28);
       // z-index: 1500;

       li {
           height: 40px;
           line-height: 6px;
           text-align: left;
           padding-left: 25px;
           // border-bottom: 1px solid rgb(52, 110, 177);
        //    box-shadow: 0px 2px 1px rgba(196, 222, 248, 0.2);
           color: #5F5F61;
           &:hover {
            background: #F3F4FD;
            // color: #4281D9;
           }
           i {
               font-size: 14px;
               margin-top: 20px;
               margin-right: 7px;
               display:inline-block;
           }
           p {
               display: inline-block;
           }
       }
       .select {
            background: #F3F4FD;
        }
    }
}
 .amap-info-content {
    // background: transparent;
    background:rgba(255, 255, 255, 1);
    box-shadow:0px 2px 3px 0px rgba(6,10,19,0.28);
    border:0px;
    padding: 0px;
    color: #7B7B7B;
    font-size: 12px;
    // padding: 5px;
    .lawWindowTitle {
        font-size: 16px;
        color:#20232B;
    }
    .lawWindowStyle0 {
        // background: rgba(0,155,255,0.9);
        padding: 10px 17px 10px 17px;
        // color:white;
        line-height:35px;
    }
    .lawWindowStyle1 {
        // background: rgba($greenC2,0.9);
        padding: 10px 17px 10px 17px;
        // color:white;
        line-height:35px;
        white-space: nowrap;
    }
    .lawWindowStyle2 {
        // background: rgba($redC,0.9);
        padding: 10px 17px 10px 17px;
        // color:white;
        line-height:35px;
    }
    .lawWindowStyle3 {
        // background: rgba($orangeC,0.9);
        padding: 10px 17px 10px 17px;
        // color:white;
        line-height:35px;
    }
    .lawWindowStyle4 {
        // background: rgba($greenC2,0.9);
        min-width: 445px;
        padding: 10px 17px 10px 17px;
        // color:white;
        line-height:35px;
    }
    .lawWindowStyle5 {
        // background: rgba(0,155,255,0.9);
        padding: 10px 17px 10px 17px;
        // color:white;
        line-height:35px;
    }
    .lawWindowStyle6 {
        // background: rgba(0,155,255,0.9);
        padding: 10px 17px 10px 17px;
        // color:white;
        line-height:35px;
    }
    .lawWindowStyle7 {
        // background: rgba(0,155,255,0.9);
        padding: 10px 17px 10px 17px;
        // color:white;
        line-height:35px;
    }
    .amap-info-close {
        top: 10px;
        right: 10px;
        // color: white;
    }
    .noneWindow {
        padding: 10px;
    }
    .btns {
        margin-top: 10px;
        border-top: 1px solid #FDFCFF;
        padding-top: 10px;
        i{
            font-size: 25px;
            margin: 5px 12px;
        }
        .el-icon-location {
            margin: 0px;
        }
    }
    .con {
        flex: 1;
    }
   .status {
       flex: 0.3;
       margin: 10px 10px 0 18px;
       line-height: 25px;
       text-align: center;
       i {
           font-size: 25px;
       }
   }
   .right {
       float:right;
   }
 }
 .amap-info-sharp {
    //  background: transparent;
 }
 .mapPointBox {
     width: 280px;

 }
 .makePhoneBox {
    position:absolute;
    left: 50%;
    margin-left: -230px;
    top: 150px;
    z-index:3000;
    height: auto;
    width: 430px;
    background: linear-gradient(90deg, #272829 0%, #413f3d 100%);
    box-shadow: 0px 2px 3px 0px rgba(6,10,19,.28);
    cursor: default;

    @include echartsStyle(300px, false);
    .echarts-box {
        background:none;
        color:white;
        width: 100%;
        margin: 17px 0px 17px 0px;
        i {
            color:white !important;
            top:0px;
            font-size: 18px;
            margin: 0 10px;
        }
        .el-icon-close {
            font-weight:bolder;
            font-size: 20px;
            cursor: pointer;
        }
        .el-icon-rank {
            cursor: move;
        }
        .videoBox {
            display:flex;
            margin-top:80px;
            margin-left: 13px;
            width: 100%;
            background: none;
            position: relative;
            top:0px;
            left: 0px;
            height: 205px;
            video {
                border:1px solid gray;
            }
        }
    }
    .phoneBtns {
        text-align: center;
        margin: 50px 20px  27px 20px;
    }
 }
.amap-position {
    position: absolute;
    z-index:2000;
 }
 .amap-rtl-box {
    right: 0px;
    top: 30%;
    .el-drawer__wrapper {
        top: 92px;
        right:0px !important;
        width: 380px;
        left: auto;
    }
    .amap-main-content {
        position: relative;
        overflow:auto;
        height: 82vh;
        @include echartsStyle(300px, false);
     }
     .drawerBtn {
        position: absolute;
        cursor: pointer;
        width: 26px;
        height: 89px;
        background: url('../../../../static/images/img/lawSupervise/btn_norshouqi2.png');
        right:0px;
        i {
            line-height: 86px;
            margin-left: 6px;
            border-left: 1px;
            color: #868688;
        }
    }
     .amap-drawer {
        overflow: visible;
        .drawerBtn {
            margin-left: -26px;
            margin-top: 44%;
            width: 26px;
            height: 89px;
            background: url('../../../../static/images/img/lawSupervise/btn_norshouqi2.png');
            bottom: 50%;
            left:0px;
            cursor: pointer;
            i {
                line-height: 86px;
                margin-left: 6px;
                border-left: 1px;
            }
        }
    }
 }
 .amap-btt-box {
    right: 0px;
    top: 30%;
    .el-drawer__wrapper {
        width: calc(100% - 202px);
        left: 202px;
        top:calc(100% - 380px);
    }
    .el-drawer__body {
        overflow:auto;
        .amap-main-content {
            position: relative;
            @include echartsStyle(100%, true);
         }
    }
     .drawerBtn {
        margin-left: 50%;
        width: 26px;
        height: 89px;
        background: url('../../../../static/images/img/lawSupervise/btn_norshouqi2.png');
        bottom: -32px;
        left:0px;
        transform:rotate(90deg);
        position: fixed;
        cursor: pointer;
        i {
            line-height: 86px;
            margin-left: 6px;
            border-left: 1px;
            color: #868688;
        }
    }
     .amap-drawer {
        overflow: visible;
        .drawerBtn {
            margin-left: 50%;
            width: 26px;
            height: 89px;
            background: url('../../../../static/images/img/lawSupervise/btn_norshouqi2.png');
            bottom: auto;
            left:0px;
            transform:rotate(90deg);
            position: absolute;
            top:-57px;
            cursor: pointer;
            i {
                line-height: 86px;
                margin-left: 6px;
                border-left: 1px;
            }
        }
    }

 }
 .circle {
    width: 16px;
    height:16px;
    border-radius:50%;
    text-align: center;
 }
 .titleflag {
    width      : 4px;
    height     : 16px;
    display    : inline-block;
    background : #4573D0;
    margin-right: 10px;
    vertical-align:-2px;
}
