
@import "../basicStyles/fontOrBgColorStylesSet.scss";
@import "./lawSuperviseFunc.scss";
.flexBox {
    display: flex;
}

.amap-demo {
    position: relative;
    width: 500px;
    height: 300px;
}
.mainBox {
    position: relative;
    // margin: 22px;
    // padding: 10px;
    overflow:hidden;
    height: calc(100% - 0px);
    // border: 20px solid white;
    box-shadow:0px 6px 4px 0px rgba(94,137,181,0.1);
 }
 .el-select-dropdown {
    margin-top: -1px !important;
    border-radius: 0px;
    border: none;
    box-shadow:0px 2px 3px 0px rgba(6,10,19,.28);
    .popper__arrow {
        display:none;
    }
    .el-select-dropdown__item {
        height: 40px;
        line-height: 40px;
    }
 }
 .amap-search {
    position: absolute;
    left: 27px;
    top: 22px;
    width: 400px;
    z-index: 1500;
    line-height: 46px;
    display: flex;
    box-shadow:0px 2px 3px 0px rgba(6,10,19,0.28);
   //  height: 40px;
   .el-select {
       // width: 120px;
       flex: 0.4;
       margin-right: -1px;
       margin-top: 1px;

   }
   .el-input {
       flex: 0.6;
       height: 46px;
       line-height: 46px;
       .el-input__inner {
           border-radius: 0px;
           border: 0px;
       }
       // margin-right: -1px;
       .el-input__inner {
           height: 46px;
           line-height: 46px;
       }
   }
   .el-input__inner:focus{
       border-color: #DCDFE6 !important;
   }
   .el-button {
       margin-top: 1px;
       background: rgb(2, 118, 250,0.9);
       height: 46px;
       border: none;
       &:hover{
           background: rgb(2, 118, 250,0.9);
       }
       .el-icon-search {
           font-size: 20px;
           color:white;
       }
   }
   .search-box {
       height: 46px;
       border:0px;
    //    border-top: 1px solid #DCDFE6;
    //    border-left: 1px solid #DCDFE6;
    //    border-bottom: 1px solid #DCDFE6;
       box-shadow: none;
       border-radius: 0px;
       margin-top: 1px;
   }
}

 .el-vue-search-box-container {
     flex: 0.8;
    .search-box-wrapper .search-btn {
        background:none !important;
        font-family: 'element-icons';
        color:transparent !important;
        border: 0px;
        border-left:0px;
        &:before{
            content: "\e778" !important;
            color: #7B7B7B !important;
            font-size: 18px;
            // margin-left: 12px;
            font-weight: bolder;
        }
    }
    .search-tips {
        width: calc(100% - 45px);
        border-top: 0px;
        border-bottom: 0px;
        margin-top: -1px;
        border:0px !important;
        li {
            overflow:hidden;
        }
        .autocomplete-selected {
            background:#F3F4FD;
        }
    }
 }
 .amap-tool {
    position: absolute;
    left:450px;
    top: 22px;
    z-index: 1300;
    display: flex;
    box-shadow:0px 2px 3px 0px rgba(6,10,19,0.28);
    .el-icon-caret-top {
        color: white;
        position: absolute;
        top: -14px;
        margin-left: -12px;
        font-size: 22px;
    }
    .el-button{
        height: 35px;
        line-height: 26px;
        border-radius: 4px;
        background: white;
        color: #20232B;
        position:relative;
        border: 0px;
        border-radius: 0px;
        height: 46px;
        margin:0px;
        border-right: 2px solid white;
        // &:hover {
        //     background: rgba(29, 121, 214, 0.9);
        //     color: $white;
        // }
        img {
            float:left;
            padding-right: 7px;
        }
    }
    .drop-down-menu {
       background: white;
       border-right: 2px solid white;
       color: $white;
       width: 100%;
       position: absolute;
       left: 0px;
       top: 45px;
       border-radius: 0px;
       box-shadow:0px 2px 3px 0px rgba(6,10,19,0.28);
       // z-index: 1500;

       li {
           height: 40px;
           line-height: 6px;
           text-align: left;
           padding-left: 25px;
           // border-bottom: 1px solid rgb(52, 110, 177);
        //    box-shadow: 0px 2px 1px rgba(196, 222, 248, 0.2);
           color: #5F5F61;
           &:hover {
            background: #F3F4FD;
            // color: #4281D9;
           }
           i {
               font-size: 14px;
               margin-top: 20px;
               margin-right: 7px;
               display:inline-block;
           }
           p {
               display: inline-block;
           }
       }
       .select {
            background: #F3F4FD;
        }
    }
}
 .amap-info-content {
    // background: transparent;
    background:rgba(255, 255, 255, 1);
    box-shadow:0px 2px 3px 0px rgba(6,10,19,0.28);
    border:0px;
    padding: 0px;
    color: #7B7B7B;
    font-size: 12px;
    // padding: 5px;
    .lawWindowTitle {
        font-size: 16px;
        color:#20232B;
    }
    .lawWindowStyle0 {
        // background: rgba(0,155,255,0.9);
        padding: 10px 17px 10px 17px;
        // color:white;
        line-height:35px;
    }
    .lawWindowStyle1 {
        // background: rgba($greenC2,0.9);
        padding: 10px 17px 10px 17px;
        // color:white;
        line-height:35px;
        white-space: nowrap;
    }
    .lawWindowStyle2 {
        // background: rgba($redC,0.9);
        padding: 10px 17px 10px 17px;
        // color:white;
        line-height:35px;
    }
    .lawWindowStyle3 {
        // background: rgba($orangeC,0.9);
        padding: 10px 17px 10px 17px;
        // color:white;
        line-height:35px;
    }
    .lawWindowStyle4 {
        // background: rgba($greenC2,0.9);
        min-width: 445px;
        padding: 0px;
        // color:white;
        line-height:35px;
        .lawWindowTitle {
            padding: 0 10px;
            background: rgba($color: black, $alpha: 0.7);
            margin-top: -14px;
            color:white;
            letter-spacing: 1px;
        }
        .flexBox {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .lawWindowStyle5 {
        // background: rgba(0,155,255,0.9);
        padding: 10px 17px 10px 17px;
        // color:white;
        line-height:35px;
    }
    .lawWindowStyle6 {
        // background: rgba(0,155,255,0.9);
        padding: 10px 17px 10px 17px;
        // color:white;
        line-height:35px;
    }
    .lawWindowStyle7 {
        // background: rgba(0,155,255,0.9);
        padding: 10px 17px 10px 17px;
        // color:white;
        line-height:35px;
    }
    .amap-info-close {
        top: 10px;
        right: 10px;
        // color: white;
    }
    .noneWindow {
        padding: 10px;
    }
    .btns {
        margin-top: 10px;
        border-top: 1px solid #FDFCFF;
        padding-top: 10px;
        i{
            font-size: 25px;
            margin: 5px 12px;
        }
        .el-icon-location {
            margin: 0px;
        }
    }
    .con {
        flex: 1;
    }
   .status {
       flex: 0.3;
       margin: 10px 10px 0 18px;
       line-height: 25px;
       text-align: center;
       i {
           font-size: 25px;
       }
   }
   .right {
       float:right;
   }
 }
 .amap-info-sharp {
    //  background: transparent;
 }
 .mapPointBox {
     width: 280px;

 }
//  .el-popover {
//     z-index: 3300 !important;
// }
.amap-position {
    position: absolute;
    z-index:2000;
 }
 .amap-rtl-box {
    right: 0px;
    top: 30%;
    .el-drawer__wrapper {
        top: 92px;
        right:0px !important;
        width: 380px;
        left: auto;
    }
    .amap-main-content {
        position: relative;
        overflow:auto;
        height: 82vh;
        @include echartsStyle(300px, false);
     }
     .drawerBtn {
        position: absolute;
        cursor: pointer;
        width: 26px;
        height: 89px;
        background: url('../../../../static/images/img/lawSupervise/btn_norshouqi2.png');
        right:0px;
        i {
            line-height: 86px;
            margin-left: 6px;
            border-left: 1px;
            color: #868688;
        }
    }
     .amap-drawer {
        overflow: visible;
        .drawerBtn {
            margin-left: -26px;
            margin-top: 44%;
            width: 26px;
            height: 89px;
            background: url('../../../../static/images/img/lawSupervise/btn_norshouqi2.png');
            bottom: 50%;
            left:0px;
            cursor: pointer;
            i {
                line-height: 86px;
                margin-left: 6px;
                border-left: 1px;
            }
        }
    }
 }
 .amap-btt-box {
    right: 0px;
    top: 30%;
    .el-drawer__wrapper {
        width: calc(100% - 202px);
        left: 202px;
        top:calc(100% - 380px);
    }
    .el-drawer__body {
        overflow:auto;
        .amap-main-content {
            position: relative;
            @include echartsStyle(100%, true);
         }
    }
     .drawerBtn {
        margin-left: 50%;
        width: 26px;
        height: 89px;
        background: url('../../../../static/images/img/lawSupervise/btn_norshouqi2.png');
        bottom: -32px;
        left:0px;
        transform:rotate(90deg);
        position: fixed;
        cursor: pointer;
        i {
            line-height: 86px;
            margin-left: 6px;
            border-left: 1px;
            color: #868688;
        }
    }
     .amap-drawer {
        overflow: visible;
        .drawerBtn {
            margin-left: 50%;
            width: 26px;
            height: 89px;
            background: url('../../../../static/images/img/lawSupervise/btn_norshouqi2.png');
            bottom: auto;
            left:0px;
            transform:rotate(90deg);
            position: absolute;
            top:-57px;
            cursor: pointer;
            i {
                line-height: 86px;
                margin-left: 6px;
                border-left: 1px;
            }
        }
    }

 }
 .circle {
    width: 16px;
    height:16px;
    border-radius:50%;
    text-align: center;
 }
 .titleflag {
    width      : 4px;
    height     : 16px;
    display    : inline-block;
    background : #4573D0;
    margin-right: 10px;
    vertical-align:-2px;
}


/////////////////////////////////////待改
/* 车辆查验 */
.vehicle-dialog {

    // height: 900px !important;
    .el-dialog__body {
        padding: 0;
    }

    .check-vehicle {

        text-align: center;

        .top {
            height     : 118px;
            line-height: 118px;
            background : #4573D0;
        }

        .banner {
            height    : 44px;
            box-sizing: border-box;
            background: #4573D0;

            i {
                font-size     : 20px;
                vertical-align: middle;
            }
        }

        .table-padding {
            padding   : 32px 30px 0;
            height    : 675px;
            box-sizing: border-box;
        }

        .el-tabs__item {
            height: 42px;
        }

        .map,
        .list {
            height: 675px;
        }

        .el-tabs__content {
            height: 0;
        }

        .el-input-group {
            width: 441px;
        }

        .el-input-group__append,
        .el-input-group__prepend {
            background-color: #FFFFFF;
            color           : #20232B;
            border          : 1px 0 solid #DCDFE6;
            border-radius   : 0;
            padding         : 0 20px;
        }

        .el-input-group__prepend {
            width: 92px;
        }

        .el-tabs--border-card {
            border            : 0;
            -webkit-box-shadow: none !important;
            box-shadow        : none !important;
        }

        .el-tabs__nav-scroll {
            background: #4573D0;
        }

        .el-tabs--border-card>.el-tabs__header .el-tabs__item {
            color: #fff;
        }

        .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
            color: #409EFF;
        }

        .el-tabs__nav {
            float        : none;
            border-bottom: 1px solid #DFDFDF;
        }

        i {
            margin-right: 8px;
        }
    }


    .map {
        .map-top {
            height       : 61px;
            border-bottom: 1px solid #979797;
            padding      : 26px 30px 11px;
            line-height  : 22px;
            box-sizing   : border-box;


        }

        .map-top-title {
            float      : left;
            font-size  : 16px;
            font-weight: 500;
            color      : rgba(123, 123, 123, 1);
        }

        .map-top-icon {
            margin-left: 22px;
            float      : right;
            font-size  : 14px;
            font-weight: 400;
            color      : rgba(69, 115, 208, 1);

            i {
                margin-right  : 6px;
                vertical-align: middle;
            }
        }

        .map-btm {
            height    : calc(100% - 61px);
            padding   : 22px;
            box-sizing: border-box;
        }

        .map-search {
            padding      : 16px 0 0 22px;
            height       : 90px;
            margin-bottom: 17px;
            background   : #4AAFA7;
            color        : #FFFFFF;
            box-sizing   : border-box;

            ul {
                clear        : both;
                margin-bottom: 11px;

                li {
                    width     : 33%;
                    float     : left;
                    text-align: left;
                }
            }

            .el-progress {
                display: inline-block;
                width  : 196px;

                .el-progress__text {
                    font-size  : 12px !important;
                    font-weight: 400;
                    color      : #fff;
                }

            }

            .el-input__inner {
                padding    : 0 30px 0 5px;
                width      : 163px !important;
                height     : 26px;
                line-height: 26px;
                background : rgba(62, 149, 143, 1);
                border     : 0;
                color      : white;
            }

            .el-date-editor,
            .el-input,
            .el-input--prefix,
            .el-input--suffix,
            .el-date-editor--date {
                width: 163px !important;

                i {
                    color     : white;
                    margin-top: -4px;
                }

                .el-input__icon {
                    line-height: auto;
                }

                .el-input__prefix {
                    left : auto;
                    right: 0;

                }
            }
        }

        .map-box {
            height: calc(100% - 107px);
        }

    }

    .list {
        p {
            margin     : 22px 0 12px;
            height     : 20px;
            font-size  : 14px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color      : rgba(32, 35, 43, 1);
            line-height: 20px;
            text-align : left;
        }

        ul {
            width     : 100%;
            padding   : 0 28px 0 23px;
            box-sizing: border-box;

        }

        li {
            clear        : both;
            border-bottom: 1px solid #EEF0F5;
            min-height   : 108px;
            box-sizing   : border-box;

            .left {
                width: calc(100% - 100px);
            }

            .right {
                width: 100px;
            }

        }

        .main-info {
            td {
                height     : 20px;
                text-align : left;
                font-size  : 14px;
                font-weight: 400;
                color      : rgba(123, 123, 123, 1);
            }
        }

        .search-box {
            height    : 66px;
            text-align: left;
            padding   : 0 22px;
            box-sizing: border-box;
        }

        .list-search {
            .el-form-item {
                margin-top   : 22px;
                margin-bottom: 0;
            }

            .el-form-item__label {
                color: #7B7B7B;
            }

            .el-input__inner {
                width: 123px;
            }

            button {

                border: 0;
                color : white;

            }

            .btnstyle {
                background-color: #4AAFA7 !important;
                width           : 100px;
                border-color    : #4AAFA7 !important;
            }
        }
    }
}

/* 表格样式 */
.table-style {
    table {
        width: 820px;

        td {
            border     : 1px solid #DFDFDF;
            box-sizing : border-box;
            height     : 46px;
            line-height: 20px;
            min-width  : 150px;
            font-size  : 14px;
            font-weight: 500;
            color      : rgba(32, 35, 43, 1);
            text-align : left;
            padding    : 13px 10px;
        }

        .table-bg {
            background: #F4F8FF;
        }
    }

}

/* 阴影盒子样式 */
.shadow-box {
    padding   : 24px 0 54px;
    width     : 100%;
    box-shadow: 0px 2px 4px 0px rgba(39, 66, 122, 0.35);
    box-sizing: border-box;

    .info-box {
        width : 820px;
        margin: 0 auto;
    }
}

.title-box {
    margin-bottom: 14px;
    height       : 25px;

    .title-blue {
        margin    : 5px 8px 0 0;
        display   : block;
        float     : left;
        width     : 4px;
        height    : 16px;
        background: rgba(69, 115, 208, 1);

    }

    .title-text {
        font-size  : 18px;
        font-weight: 500;
        color      : rgba(32, 35, 43, 1);
        line-height: 25px;
    }
}

/* 证据图片 */
.evidence-img {
    margin-top: 5px;
    min-height: 111px;

    li {
        margin: 0 21px 28px 0;
        width : 189px;
        float : left;

    }

    .img-url {
        margin-bottom: 8px;
        height       : 111px;
        background   : #D8D8D8;
        box-sizing   : border-box;
        overflow     : hidden;
        text-align   : center;

        img {
            height: 100%;
        }
    }

    .img-title {
        font-size  : 14px;
        font-weight: 400;
        color      : rgba(123, 123, 123, 1);
        line-height: 20px;
    }

    .img-url-upload {
        margin-bottom : 8px;
        height        : 111px;
        background    : #EDEFFD;
        text-align    : center;
        vertical-align: middle;
        line-height   : 111px;

        img {
            vertical-align: middle;
        }
    }

}

.margin-right0 {
    margin-right: 0 !important;
}

.evidence-img:after {
    content   : '\20';
    display   : block;
    height    : 0;
    clear     : both;
    visibility: hidden;
    overflow  : hidden;
}

.bg-white {
    background: white;
}

.left {
    float: left;
}

.right {
    float: right;
}

.width198 {
    width: 198px;
}

.margin-top22px {
    margin-top: 22px;
}

.keyVehicleDentails {
    padding   : 22px;
    box-sizing: border-box;
}
