@mixin echartsStyle($width: 300px,$percentBoo:false){
    .echarts-box  {
        position: relative;
        z-index: 1100;
        width: $width;
        margin: 17px auto;
        // margin-bottom: 17px;
        background: white;
        overflow: hidden;
        // border-radius: 10px;
        // box-shadow: 0px 2px 2px 2px rgba(29, 121, 214, 0.2);
        // border: 7px solid #eaedf4;
        .amap-chart {
            width: 100%;
            color: #20232B;
            margin-top: 60px;
            overflow:visible;
            ul {
                overflow:hidden;
                line-height: 35px;
            }
            li {
                display: flex;
                font-size: 14px;
                justify-content: space-between;
                div {
                    margin-right: 17px;
                }
                div:nth-child(1) {
                    border-radius: 50%;
                    background:#20232B;
                    color:white;
                    width: 19px;
                    height: 19px;
                    margin-top: 10px;
                    text-align: center;
                    line-height:18px;
                }
                div:nth-child(2) {
                    flex:1;
                }
            }
            .ck {
                color: #B2B2B2;
                // text-align: center;
                margin-left:40%;
            }
            li.mc:nth-child(1) {
                color:#C41818;
                div:nth-child(1) {
                    border-radius: 50%;
                    background:#C41818;
                    color:white;
                    width: 19px;
                    height: 19px;
                    margin-top: 10px;
                    text-align: center;
                    line-height:18px;
                }
            }
            li.mc:nth-child(2) {
                color:#F26A12;
                div:nth-child(1) {
                    border-radius: 50%;
                    background:#F26A12;
                    color:white;
                    width: 19px;
                    height: 19px;
                    margin-top: 10px;
                    text-align: center;
                    line-height:18px;
                }
            }
            li.mc:nth-child(3) {
                color:#EDAD21;
                div:nth-child(1) {
                    border-radius: 50%;
                    background:#EDAD21;
                    color:white;
                    width: 19px;
                    height: 19px;
                    margin-top: 10px;
                    text-align: center;
                    line-height:18px;
                }
            }
        }
        .el-table__row {
            height: 33px;
            line-height: 33px;
        }
    }
    .law-delete1 ,.law-youyou ,.law-zuozuo {
        position: absolute;
        z-index: 1300;
        right: 10px;
        top: 24px;
        font-size: 12px;
        color: rgb(172, 171, 171);
        cursor: pointer;
    }
    .right {
        float: right;
    }
    .title {
        font-size: 18px;
        font-weight: bolder;
        margin: 23px 0 20px 0px;
        font-style: normal;
        letter-spacing: 1px;
    }
    .left {
        float: left;
    }
 }
