@import "./main.scss";

.card-content {
    height: auto;
    color : #20232B;
    clear : both;
}

.card-title {
    margin-bottom: 16px;
    height       : 20px;
    line-height  : 20px;
    font-size    : 14px;
    font-weight  : 400;
    clear        : both;
}

.card-ul {
    margin: 0 -34px 0 0;


    li {
        margin-right : 34px;
        margin-bottom: 20px;
        width        : 202px;
        height       : 120px;
        border       : 2px solid #EBEBEB;
        float        : left;
        text-align   : center;
        cursor       : pointer;
        text-align   : center;
        overflow     : hidden;
        position     : relative;

        &:last-child {
            margin-bottom: 44px;
        }
    }

    li:hover {
        .box-card-img-content {
            display: block;

        }
    }

}

.card-img-content-box {
    margin: 15px auto 3px;
    width : 62px;
}

.card-img-content {
    width         : 62px;
    height        : 62px;
    text-align    : center;
    display       : table-cell;
    vertical-align: middle;

    img {
        max-width : 62px;
        max-height: 62px;
    }
}

.card-des {
    height       : 20px;
    font-size    : 14px;
    font-weight  : 500;
    line-height  : 20px;
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
}

.card-title-margin {
    margin: 20px 0;
}

.search-input-right {
    width  : 176px;
    display: inline-block;
}

.search-input-right-box {
    width    : 313px;
    float    : right;
    font-size: 14px;
}

.max-group-prepend {
    .el-input-group__prepend {
        width: 180px;
    }

    i {
        color    : #4573d0;
        font-size: 16px;
    }
}

.lawPersonBox {
    width   : calc(100% - 100px);
    position: relative;

    .el-form-item__content {

        display: inline-block;
    }

    .el-form-item__content button {
        position     : absolute;
        right        : 0;
        height       : 32px;
        width        : 20px;
        top          : 4px;
        border-radius: 0;

        i {
            position: absolute;
            left    : 13px;
            top     : 9px;
        }
    }

    .el-select {
        width: calc(100% - 17px);
    }
}

.lawPersonBox-aline {
    position: relative;

    .el-form-item__content {
        margin-left: 0 !important;
        width      : calc(100% - 125px);
        display    : inline-block;
    }

    .el-form-item__content button {
        position     : absolute;
        right        : 0;
        height       : 32px;
        width        : 20px;
        top          : 4px;
        border-radius: 0;

        i {
            position: absolute;
            left    : 13px;
            top     : 9px;
        }
    }

    .el-select {
        width: calc(100% - 17px);
    }
}

.card-select {
    .el-form-item__content {
        width: 100%;
    }
}

.collapse-title-foem {
    .el-collapse {
        border-top   : 0;
        border-bottom: 0;
    }

    .el-form-item {
        margin-bottom: 10px;
    }

    .el-collapse-item__header {
        height       : 50px;
        line-height  : 50px;
        border-bottom: 0;

        .el-form-item {
            margin-bottom: 0;
        }
    }

    .el-collapse-item__content {
        margin-bottom : 0;
        padding-bottom: 0;
    }

    .el-collapse-item__wrap {
        border-bottom: 0;

    }

    .el-icon-arrow-right {
        display: none;
    }

    .el-icon-remove,
    .el-icon-remove-outline {
        margin      : 0px 0px 0px auto;
        font-size   : 16px;
        color       : #F56C6C;
        /* color    : #4573D0; */

    }

    .zhankai,
    .shousuo {
        margin-right: 15px;
        color       : #4573D0;
    }

    .zhankai {
        display: none;
    }

    .is-active {
        .shousuo {
            display: none;
        }

        .zhankai {
            display: inline;
        }
    }

    .el-checkbox__label {
        color: #20232B !important;
    }

    .is-checked {
        .el-checkbox__inner {
            color           : #4573D0;
            border-color    : #4573D0;
            background-color: #fff;

            i {
                color: #4573D0;
            }
        }


    }

    .el-checkbox__inner::after {

        border     : 1px solid #4573D0;
        border-left: 0;
        border-top : 0;
    }

    .is-indeterminate {
        .el-checkbox__inner {
            color       : #4573D0;
            border-color: #4573D0;
        }
    }
}

.clear {
    clear: both;
}

.card-add-ziduan {
    margin-left: 9%;
    color      : #4573D0;
    height     : 20px;
    font-size  : 14px;
    font-weight: 500;
    display    : inline-block;
    cursor     : pointer;

    .el-icon-arrow-right {
        display: inline;
    }
}

.mimi-content {
    padding   : 14px 34px 0 5px;
    box-sizing: border-box;

    .el-form-item {
        &:first-child {
            margin-top: 14px;
        }
    }

    .el-form-item__content {
        line-height: 28px;

    }

    .el-radio-group {
        line-height: 28px;
    }

}

.card-bg-content {
    background   : #F6F7FB;
    padding      : 1px 20px;
    margin-top   : -27px;
    margin-bottom: 14px;
    margin-right : 34px;
}

.footer_fixed {
    margin-left  : -30px;
    padding-right: 22px;
    position     : fixed;
    bottom       : 0;
    height       : 85px;
    width        : 50%;
    line-height  : 85px;
    background   : #F9F9F9;
    border-top   : 1px solid #D6DBE3;
    text-align   : right;
    z-index      : 2;
}

.card-drawer {
    .el-drawer__body {
        padding-bottom: 85px !important;
    }
}

.card-user-box {
    width        : calc(100% - 150px);
    float        : right;
    margin-bottom: 0 !important;
}

.card-user-box-big {
    margin-bottom: 0 !important;

    .el-form-item__content {
        width: 100%;
    }
}

.record-icon-box {
    float     : left;
    width     : 64px;
    height    : 64px;
    border    : 1px solid #c3c3c3;
    box-sizing: border-box;
    cursor    : pointer;
}

.record-icon-box-content {
    width         : 64px;
    height        : 64px;
    text-align    : center;
    vertical-align: middle;
    display       : table-cell;
}

.card-add-btn {
    float: right;

    .el-button,
    i {
        color: #4AAFA7;
    }

    .el-button--default {
        border-color: transparent;
    }

}

.min-lable {
    .el-form-item__label {
        line-height: 28px;
    }
}

.error-index {
    .el-form-item__error {
        z-index: 2;
    }
}

/* 模板配置样式 */
.modle-set {
    .el-radio-group {
        .el-radio:first-child {
            line-height: 40px;
        }

        line-height: 20px;
    }
}

/* .form-create-sty {
    .el-form-item__label {
        line-height: 20px;
    }

    .el-form-item__label:first-line {
        line-height: 40px;
    }
    .el-form-item__label:before {
        content: '*';
        color: #F56C6C;
        margin-right: 4px;
    }
} */

.box-card-img-content {
    margin-bottom: 0;
    width        : 206px;
    height       : 20px;
    display      : none;
    text-align   : center;
    background   : #ebebeb;
}

.border-title {
    margin-top  : 20px;
    padding-left: 7px;

    .el-form-item__content {
        height     : 24px;
        line-height: 24px;
    }

    p {
        color      : #20232B;
        font-size  : 18px;
        font-weight: 500;
    }
}

.change_title_icon {
    color      : #7B7B7B;
    cursor     : pointer;
    margin-left: 20px;
}

.searchAndpageBox {
    .el-date-editor {
        width: 100%;
    }
}

.modle-upload {
    margin-left  : 100px;
    // margin-top: -10px;
    width        : 50%;
}

.show-icon {
    display: inline-block;
    cursor : pointer;
}

/* 只显示我的 */
.chose-mine {
    .el-radio:focus:not(.is-focus):not(:active):not(.is-disabled) {
        .el-radio__inner {
            box-shadow: 0 0 2px 2px #fff;
        }
    }

}

/* 模板内的数字形 */
.modle-number-box {

    .el-input-number__decrease,
    .el-input-number__increase {
        display: none !important;
    }

    .el-input-number {
        .el-input__inner {
            padding-left : 0;
            padding-right: 0;
            text-align   : left;
        }
    }
}

/* 复制添加后的样式 */
.copy-style-text {
    .el-input__inner {
        color: #F56C6C;
    }
}

.modle-radio {
    .el-radio-group {
        width: 100%;

        .el-radio {
            width: 40%
        }
    }
}

/* 内嵌的tab */
.inspection-info {
    .el-tabs__content {
        height: calc(100% - 56px);

        .el-tab-pane {
            height: 100%;
        }
    }

    /*   .el-form-item{
      margin-bottom: 0;
  } */
}

.search-mini {
    display: block;

    .search-btns {
        width: auto !important;
    }
}

.el-form-bottom0 {
    .el-form-item {
        margin-bottom: 0;
    }
}