.dataScreen {
    background-color: #000c14;
    height: 100%;
    padding: 35px;
    box-sizing: border-box;
    .border-line-dark {
        border: 2px solid #397c8d;
        border-bottom-style:double;
        height: 100%;
        width: 100%;
        position: relative;
        .border-line-cover {
            width: 2px;
            ul.left{
                width: 100%;
                float:left;
                margin-left: -2px;
                margin-top: 0px;
                li {
                    float:left;
                }
                li.line:first-child{
                    padding-top: 20px;
                }
                li.line.last{
                    padding-top: 20px;
                    margin-bottom: 50px;
                }
                li.circle:first-child {
                    margin-top: 50px;
                    padding-top: 20px
                }
            }
            li.line {
                width: 2px;
                background-color:#000c14;
                height: 7px;
                margin: 0px 0px 7px 0px;
            }
            li.margin0 {
                margin: 0px;
                height: 13px;
            }
            li.circle {
                width: 13px;
                height: 13px;
                margin: 0px 0 0px -7px;
                border: 1px solid #397c8d;
                border-radius: 50%;
                background: #000c14;
            }
            .first {
                margin-top: 0px;

            }
        }
    }
}
.w-animal-yellow {
    outline:7px dashed #f7d02f;
    animation-delay:10s;
    animation: fadeInLeft 3s;

	animation-iteration-count: infinite;

    padding-left: 5px;
}
.w-animal-blue {
    outline:7px dashed #66d7ff;
    animation-delay:10s;

    animation: fadeInLeft1 3s ;
	animation-iteration-count: infinite;
}
@keyframes fadeInLeft
{
    from {
        animation-delay:10s;
        opacity: 0.7;
        transform: translate3d(-100%, 0, 0);
        outline:7px dashed #ffae00;
      }

      to {
        animation-delay:2s;
        opacity: 1;
        transform: none;
        outline:7px dashed #bdff3e;
      }
}
@keyframes fadeInLeft1
{
    from {
        animation-delay:10s;
        opacity: 0.7;

        transform: translate3d(-100%, 0, 0);
        outline:7px dashed #94fd46;
      }

      to {
        animation-delay:2s;
        opacity: 1;
        transform: none;
        outline:7px dashed #ffb43e;
      }
}
