.box {
    width        : calc(100% - 44px);
    height       : auto;
    min-height   : 100%;
    /* padding   : 0 22px 0 22px; */
    background   : rgba(255, 255, 255, 1);
    box-shadow   : 0 6px 4px 0 rgba(94, 137, 181, 0.1);
    position     : absolute;
    margin       : 22px;

    & .el-form {
        width: 100%;

        .el-form-item__label {
            padding: 0 12px 0 21px;
        }

        .line-height13 {
            & .el-form-item__label {
                line-height: 1.3em;
            }
        }

        .content_form {
            width         : 818px;
            height        : auto;
            padding       : 14px 38px 10px;
            background    : rgba(252, 252, 252, 1);
            border   : 1px solid rgba(238, 238, 238, 1);
            border-top: 0;
            display       : flex;
            flex-direction: column;
            align-items   : center;
            box-sizing: border-box;

            .el-form-item__content .el-input .el-input__inner {
                width: 100%;
            }

            .el-form-item__content .el-textarea__inner {
                width: 100%;
            }

            & .el-form-item {
                /* margin-bottom: 6px !important; */
                width           : 100%;

                & .el-input__inner {
                    border-radius: 2px;
                }

                & .height88 {
                    & .el-textarea__inner {
                        border-radius: 2px;
                        resize       : none;
                        min-height   : 88px !important;
                    }
                }

                & .height106 {
                    & .el-textarea__inner {
                        border-radius: 2px;
                        resize       : none;
                        min-height   : 106px !important;
                    }
                }

                & .height122 {
                    & .el-textarea__inner {
                        border-radius: 2px;
                        resize       : none;
                        min-height   : 122px !important;
                    }
                }

                & .height162 {
                    & .el-textarea__inner {
                        border-radius: 2px;
                        resize       : none;
                        min-height   : 162px !important;
                    }
                }

                /* 抽屉表 */
                & .el-select {
                    width: 100%;
                }


            }
        }

        .row {
            width  : 100%;
            display: flex;
        }

        .rows {
            margin-top: 16px;
            width     : 100%;
            display   : flex;
        }

        .col {
            flex: 1;
        }

        /* 更高优先级-不同高度textarea */
        .bottom_form {
            background  : transparent !important;
            border-left : 0 !important;
            border-right: 0 !important;

        }
    }

    .header {
        width        : 100%;
        height       : 51px;
        border-bottom: 1px solid rgba(221, 221, 221, 1);

        .header_left {
            width      : auto;
            height     : 100%;
            margin-left: 23px;
            float      : left;
            cursor     : pointer;
            display    : flex;
            align-items: center;

            .header_left_text {
                font-size  : 14px;
                font-family: PingFang SC;
                font-weight: 400;
                color      : rgba(100, 105, 116, 1);
                line-height: 51px;
                margin-left: 7px;
            }
        }
    }

    /* 调查类文书 */
    .header-case {
        width        : 100%;
        height       : 51px;
        border-bottom: 1px solid rgba(221, 221, 221, 1);

        .header_left {
            width      : auto;
            height     : 100%;
            margin-left: 23px;
            float      : left;
            cursor     : pointer;
            display    : flex;
            align-items: center;

            .header_left_text {
                font-size  : 14px;
                font-family: PingFang SC;
                font-weight: 400;
                color      : rgba(100, 105, 116, 1);
                line-height: 51px;
                margin-left: 7px;
            }
        }
    }

    .content_box {
        width         : 100%;
        display       : flex;
        flex-direction: column;
        align-items   : center;
        box-shadow    : 0 6px 4px 0 rgba(94, 137, 181, 0.1);

        .content {
            width         : 818px;
            height        : auto;
            display       : flex;
            flex-direction: column;
            align-items   : center;

            .content_title {
                flex         : 0 0 25px;
                margin-top   : 32px;
                margin-bottom: 23px;
                font-size    : 26px;
                font-family  : PingFang SC;
                font-weight  : 600;
                color        : rgba(32, 35, 43, 1);
                text-align   : center;
                line-height  : 25px;
            }

            /* 表单分隔标题 */
            .second_title {
                flex       : 0 0 25px;
                margin-top : 32px;
                font-size  : 18px;
                font-family: PingFang SC;
                color      : rgba(32, 35, 43, 1);
                text-align : left;
                line-height: 32px;
            }

            .second_title_btns {
                width     : 100%;
                margin-top: 32px;
                text-align: right;

            }


            /* row */
            .el-row {
                width: 100%;

            }

            /* 表格form */
            .table_form {
                width         : 100%;
                height        : auto;
                padding       : 28px 0 37px 0;
                display       : flex;
                flex-direction: column;
                align-items   : center;

                /* 表格内图标 */
                &>[class*=" el-icon-"],
                [class^=el-icon-] {
                    color : #0074F5;
                    width : 16px;
                    height: 16px;
                }
            }

            .el-date-editor.el-input,
            .el-date-editor.el-input__inner {
                width: 100%;
            }
        }

        .upload-demo {
            .el-upload {
                width: 100%;
            }

            .el-button {
                float: right;
            }

            li {
                float       : left;
                margin-right: 22px;
            }
        }
    }

    .el-button-remind {
        color           : #7B7B7B;
        background-color: rgba(238, 238, 238, 1);
        /* border-color : rgba(238,238,238,1); */
        border          : 0;
        box-shadow      : 0 0 3px 0 #DFDFDF;

    }

}

/* 悬浮按钮 */
.float-btns {
    width   : 48px;
    height  : 100px;
    position: fixed;
    right   : 70px;
    bottom  : 97px;

    & .el-button {
        border-radius: 1px;
        width        : 48px;
        min-height   : 48px;
        padding      : 0;
        text-align   : center;
    }

    & .el-button+.el-button {
        margin-left: 0;
        margin-top : 10px;
    }

    & .el-button--success {
        color           : white;
        background-color: #4AAFA7;
        border-color    : #4AAFA7;

    }

    .el-button i {
        font-size   : 22px;
        margin-right: 0;
    }

}

.btn-height63 {
    & .el-button {
        height: 63px !important;
    }
}

.border_blue {
    width     : 100%;
    border-top: 10px solid rgba(69, 115, 208, 1);
}

.triangle {
    position    : relative;
    width       : 0;
    height      : 0;
    border-width: 0 6px 6px;
    border-style: solid;
    border-color: transparent transparent rgba(221, 221, 221, 1);
    transform   : rotate(-90deg)
}

.triangle:after {
    content     : "";
    position    : absolute;
    top         : 2px;
    left        : -4px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: transparent transparent #fff;
}

.height66 {
    height: 66px;
}

.height106 {
    height: 106px;
}

.height122 {
    height: 122px;
}



/* 问答组合 */
.QAs {
    width: 100%;
}

/* 添加问题字体 */
.add_text {
    color      : #4573D0;
    font-size  : 13px;
    line-height: 18px;
}

/* 询问次数 */
.ask_number {
    & .el-input-group__append {
        background-color: transparent;
        color           : #606266;
        border          : 0;
        vertical-align  : middle;
        display         : table-cell;
        position        : relative;
        border-radius   : 4px;
        padding         : 0 20px;
        width           : 1px;
        white-space     : nowrap;
    }



}

/*  删除图标颜色 */
.colorC0C5CA {
    color: #C0C5CA;
}

.table_title_left {
    width      : 100%;
    color      : #606266;
    text-align : left;
    line-height: 28px;
}

.right_side_box::-webkit-scrollbar {
    width: 0 !important
}

/* 侧边栏 */
.right_side_box {
    width        : 58px;
    height       : 100%;
    background   : #545C64;
    position     : fixed;
    right        : 0;
    top          : 92px;
    // overflow-y: scroll;
    overflow-x   : hidden;
    overflow-y   : auto;

    & .btn_box {
        width      : 58px;
        height     : 58px;
        line-height: 58px;
        text-align : center;

        &>[class*=" el-icon-"],
        [class^=el-icon-] {
            color: #BDBDBD;
        }
    }

    & .el-menu--collapse {
        width: 58px;
    }

    & .el-menu-item {
        padding    : 13px 14px !important;
        line-height: 16px;
    }

    & .el-menu-item.is-active {
        background: #F3F9F9 !important;
    }

    & .el-menu-item:hover {
        color     : #FFFFFF !important;
        background: #4573D0 !important;
    }


    &>li {
        padding: 0 14px;
        width  : 30px;
    }

    & .bottom_fixed {
        position: fixed;
        bottom  : 0;
    }
}

.tableHandelcase {
    color : #4573D0;
    cursor: pointer;
}


.myhide-expand .el-table__expand-column .cell {
    display: none;
}

.moreDocList {
    li {
        display     : flex;
        padding-left: 10%;
        width       : 100%;
        margin      : 10px;

        &>div:nth-child(1) {
            width     : 30%;
            text-align: center;
        }

        &>div:nth-child(2) {
            width     : 30%;
            text-align: center;
        }

        &>div:nth-child(3) {
            width     : 30%;
            text-align: center;
        }
    }
}

.moreDocList1 {
    li {
        display     : flex;
        padding-left: 10%;
        width       : 100%;
        margin      : 10px;

        &>div:nth-child(1) {
            width     : 0%;
            text-align: center;
        }

        &>div:nth-child(2) {
            width     : 30%;
            text-align: center;
        }

        &>div:nth-child(3) {
            width     : 30%;
            text-align: center;
        }
        &>div:nth-child(4) {
            width     : 30%;
            text-align: center;
        }
    }
}

.docListHandleClass {
    span {
        color: #0074F5;
    }
}



/* 协同办案 */
.add_dialog {
    // margin    : 22px;
    margin       : 0;
    padding      : 22px 22px 0;
    width        : 100%;
    height       : 100%;
    overflow     : auto;
    background   : #fff;
    box-sizing   : border-box;

    .add_dialog_content {
        width : 818px;
        margin: 0 auto;
    }

    .step_content {
        height    : 103px;
        padding   : 30px 0;
        box-sizing: border-box;
    }

    .content_bg {
        background   : #FCFCFC;
        padding      : 35px 36px 18px;
        margin-bottom: 32px;
        border       : 1px solid #EEEEEE;
        box-sizing   : border-box;

    }

    .elform_padding {
        .el-form-item {
            margin-bottom: 0;
        }
    }

    .steps {
        width : 670px;
        margin: 0 auto;
    }

    .send_message {
        .left {
            width     : 376px;
            height    : 641px;
            border    : 1px solid #979797;
            float     : left;
            box-sizing: border-box;
        }

        .margin_right_66 {
            margin-right: 66px;

        }

        .list_icon {
            margin       : 49px auto 18px;
            width        : 74px;
            height       : 74px;
            border-radius: 50px;
            background   : #F0F4FD;

            img {
                margin        : 18px 21px;
                vertical-align: middle;
            }
        }

        .list {
            margin-top: 48px;
            padding   : 0 12px;
            height    : 410px;
            overflow  : auto;

        }

        .list_name {
            font-size  : 24px;
            font-weight: 500;
            color      : #20232C;
        }

        .el-checkbox {
            margin-top  : 18px;
            display     : block;
            padding-left: 11px;
            white-space : normal;
            box-sizing  : border-box;


        }


    }

    .times_info {
        width         : 100%;
        height        : auto;
        border-bottom : 1px solid #D8DDE7;
        padding-bottom: 26px;
        color         : #20232B;
        box-sizing    : border-box;
        line-height   : 40px;


    }

    .re_select {
        margin-left: 30px;

    }

    .re_select.el-button--default：hover {
        border-color: #0074F5 !important;
        color       : #0074F5 !important;
        background  : #fff !important;

    }

}

/* 协同办案详情 */
.dentail_box {
    height    : calc(100% - 22px);
    background: #eaedf4;
    box-sizing: border-box;

    .el-form {
        height: 100%;
    }

    .top {
        height            : 413px;
        background        : #fff;
        margin-bottom     : 22px;
        -webkit-box-shadow: 0 6px 4px 0 rgba(94, 137, 181, .1);
        box-shadow        : 0 6px 4px 0 rgba(94, 137, 181, 0.1);
        overflow          : auto;
    }

    .btm {
        padding-top          : 24px;
        min-height           : calc(100% - 465px);
        // min-height        : 300px;
        height               : auto;
        background           : #fff;
        // overflow          : auto;
        -webkit-box-shadow   : 0 6px 4px 0 rgba(94, 137, 181, .1);
        box-shadow           : 0 6px 4px 0 rgba(94, 137, 181, 0.1);
    }

    .tans_box {
        margin       : 6px 0 10px;
        padding      : 0 17px;
        display      : inline-block;
        width        : auto;
        height       : 44px;
        line-height  : 44px;
        background   : rgba(233, 236, 243, 1);
        border-radius: 6px;
        opacity      : 0.53;
        font-size    : 16px;
        font-weight  : 500;
        color        : black;
        text-align   : center;
        box-sizing   : border-box;

        .times_info_content {
            margin-bottom: 22px;
            margin-top   : 6px;
        }

        .i_box_apply {
            display       : inline-block;
            vertical-align: middle;
            margin-right  : -20px;
            width         : 24px;
            height        : 24px;
            border-radius : 50px;
            background    : #4AAFA7;
            color         : #fff;

        }

        .i_box_org {
            display       : inline-block;
            vertical-align: middle;
            margin-right  : -20px;
            width         : 24px;
            height        : 24px;
            border-radius : 50px;
            background    : #4573D0;
            color         : #fff;

        }
    }

    .record_text {

        margin     : 0 0 23px;
        font-size  : 18px;
        font-weight: 500;
        font-family: PingFangSC-Medium, PingFang SC;
        color      : rgba(32, 35, 43, 1);
    }

    .document_list {
        ul {
            min-height: 40px;
        }

        li {
            margin-right: 32px;
            float       : left;
            color       : #4573D0;
            cursor      : pointer;

        }
    }

    .el-timeline-item {
        padding-top: 10px;
    }




}

.color_7B7B7B {
    color: #7B7B7B;
}

.file-upload {
    li {
        margin     : 4px 0;
        height     : 28px;
        line-height: 28px;
    }

    li:hover {
        background: #E3EAF9;

        .del-icon {
            display: block;
        }
    }
}

.del-icon {
    display: none;
}


.list-hover {
    display: block;
    width  : 100%;
    .el-checkbox {
        margin-right: 0;
    }

}

.list-hover :hover {
    background-color: #E3EAF9;

    .el-checkbox__inner :hover {
        background-color: #409EFF !important;
    }
}

.upload-limt-text {
    font-size  : 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color      : rgba(165, 165, 165, 1);
    margin-left: 16px;
}
