@import './basicStyles/variables.scss';

.login {
  width: 100%;
  height: 100%;
  background: #F5F8FA;
  background-size: cover;
  // box-sizing  : border-box;

  .error {
    float: left;
    font-size: 12px;
    color: #E84241
  }
}

.login_logo {
  width: 1000px;
  margin: 0 auto;
  position: absolute;
  top: -70px;
  left: 20px;
  text-align: left;

  img {
    width: 35px;
    vertical-align: middle;
    margin-right: 10px;
  }

  span {
    font-size: 32px;
    color: #20232C;
    vertical-align: middle;
  }
}

.form_contianer {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  background: #fff;
  position: absolute;
  text-align: center;
  box-shadow: 0 0 5px #ccc;
  min-height: 760px;
  display: flex;
  // box-sizing: border-box;

  .leftC {
    float: left;
    // width     : 58%;
    height: 100%;
    background: #12223d;
    // background: url('../../../static/images/img/login/login_bg.jpg') no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    position: relative;
    img {
      //   height: 1080px;
      // width     : 100%;
      height: 100%;
    }
    .leftC_title{
      position: absolute;
      left: 0;
      right: 0;
      top: 100px;
      color: #fff;
      font-size: 30px;
      img{
        width: 50px;
        vertical-align: middle;
      }
    }
  }

  .rightC {
    float: right;
    width: 42%;
    height: 600px;
    // padding   : 30px 100px;
    margin: auto;
    box-sizing: border-box;
    position: relative;
    // top       : 150px;
    overflow: hidden;

    p {
      font-size: 18px;
      margin: 10px 0 35px 0;
    }

    .title {
      display: inline-block;
      width: 180px;
      float: left;
      text-align: left;
      height: 35px;
      line-height: 35px;
      margin-bottom: 70px;
      font-size: 24px;
      font-weight: 400;
      cursor: pointer;
    }

    .checkText {
      font-size: 32px;
      font-weight: 500;
    }

    .form_box {
      width: 420px;
      margin: 0 auto;
      min-height: 566px;

      .back {
        float: left;
        width: 120px;
        line-height: 24px;
        text-align: left;

        .el-button {
          border: 0;
          width: 30px;
          font-size: 24px;
        }
      }
    }

    .formC1 {
      margin-top: 20%;
      clear: both;

      .code_box {
        margin: 32px auto;
        height: 234px;
        width: 234px;
        padding: 10px;
        border: 1px solid #DAE0E8;
        box-sizing: border-box;

        img {
          width: 100%;
          height: 100%;
        }
      }

      button {
        width: 100%;
        background: $cats-blue-color;
        margin: 20px 0;
      }

      .forgetPass {
        text-align: right;
        font-size: 12px;
        margin: -15px 0 15px;
        height: 12px;
      }

      .login_btm {
        height: 170px;
      }

      .captchaBox {
        position: absolute;
        right: 0;
        top: 0px;
      }

      .codeInputBox {
        height: 40px;

        .el-form-item__content {
          height: 40px;
        }
      }

      .codeInput {
        position: absolute;
        width: 300px;
        left: 0;
      }

      .left_float {
        float: left;
      }

      .right_float {
        float: right;
      }

      .margin24 {
        margin-left: 24px;
      }

      .el-input__inner {
        border-radius: 0;
        border-top: 0;
        border-left: 0;
        border-right: 0;
      }

      .wechat_box {
        width: 140px;
        // height: 170px;

        .wechat {
          clear: both;
          width: 150px;
          height: 150px;
          padding: 10px;
          margin-left: -10px;
          // background-color: red;
          box-shadow: 1px 6px 4px 4px rgba(94, 137, 181, 0.1);
          box-sizing: border-box;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }

    }

  }

  .blue {
    color: #7CB1E8;
  }

  .gray {
    color: #999999;
    font-size: 14px;
  }

  .footer {
    width: 100%;
    // position   : absolute;
    // right      : 0;
    // bottom     : 30px;
    margin: 0 auto;
    text-align: center;
    clear: both;
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    margin-top: -30px;
  }

}

.form-fade-enter-active,
.form-fade-leave-active {
  transition: all 1s;
}

.form-fade-enter,
.form-fade-leave-active {
  transform: translate3d(0, -50px, 0);
  opacity: 0;
}
