@import "./basicStyles/variables.scss";

.fullscreen {
  height: 100%;

  #fullscreenCon {
    height: 100%;
  }

  #mainHeader {
    overflow  : hidden;
    height    : 54px;
    background: #20232B;
    color     : #fff;

    &>div {
      height     : 100%;
      line-height: 54px;
    }

    .main_logo {
      float: left;

      img {
        width         : 35px;
        vertical-align: middle;
        margin-right  : 10px;
      }

      span {
        font-size     : 20px;
        vertical-align: middle;
      }
    }

    .headMenu {
      float      : left;
      margin-left: 10%;

      .el-menu {
        background: #20232B;
      }

      .el-menu--horizontal {
        &>.el-menu-item {
          color: #9FA3AF;
        }

        &>.el-menu-item.is-active {
          color        : #fff;
          border-bottom: 2px solid $cats-blue-color;
        }

        .el-menu-item:focus,
        .el-menu-item:hover {
          background: #20232B;
        }
      }
    }

    @media screen and (max-width: 1400px) {
      .headMenu {
        float      : left;
        margin-left: 5%;
      }
    }

    .headerRight {
      float   : right;
      overflow: hidden;
      color   : #909298;

      div {
        float      : left;
        margin-left: 20px;

      }

      .el-dropdown {
        color: #909298;
      }

      img {
        margin-right  : 8px;
        width         : 24px;
        height        : 24px;
        border-radius : 50px;
        vertical-align: middle;
      }

    }
  }

  .el-aside {
    .el-menu {
      background  : $cats-black2B313E-color;
      border-right: 0;

      .el-submenu__title {
        color: #9FA3AF;
      }

      .el-menu-item {
        color: #9FA3AF;
      }

      .el-menu-item.is-active {
        background: $cats-blue-color;
        color     : #fff;
      }

      .el-menu-item:focus,
      .el-menu-item:hover,
      .el-menu-item:focus,
      .el-menu-item:hover {
        background: $cats-blue-color;
        color     : #fff;
      }

    }
  }

  #tabsHeader {
    height    : 33px;
    background: $cats-black2B313E-color;
    color     : #9FA3AF;
    padding   : 0;

    .el-tabs__item {
      height     : 32px;
      line-height: 32px;
    }

    .el-tabs--border-card>.el-tabs__header {
      background: $cats-black2B313E-color;
    }

    .el-tabs--border-card {
      border     : 1px solid #414752;
      border-left: 0px;
    }

    .el-tabs--border-card>.el-tabs__content {
      display: none;
    }

    .el-tabs__nav-wrap {
      margin-bottom: 0;
    }

    .el-tabs--border-card>.el-tabs__header .el-tabs__item {
      color        : #9FA3AF;
      border-right : 1px solid rgb(60, 76, 106);
    //   width        : 158px;
        width: auto;
      height       : 33px;
      overflow     : hidden;
      text-overflow: ellipsis;
      white-space  : nowrap;
      border-left  : 0;

      .el-icon-close {
        position  : absolute;
        right     : 6px;
        margin-top: -7px;
        top       : 50%;
      }
    }

    .el-tabs--border-card>.el-tabs__header .el-tabs__item:last-child {
      border-right: 0
    }

    .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
      color        : #4A5A78;
      background   : linear-gradient(0deg, rgba(234, 237, 244, 1), rgba(255, 255, 255, 1));
      border-bottom: 0;
    }

    .el-tabs__nav-prev {
      height: 32px;

      .el-icon-arrow-left {
        position  : absolute;
        top       : 50%;
        margin-top: -6px;
      }
    }

    .el-tabs__nav-next {
      height: 32px;

      .el-icon-arrow-right {
        position  : absolute;
        top       : 50%;
        left      : -13px;
        margin-top: -6px;
      }
    }
  }

  .fullBox {
    height    : 100%;
    background: #fff;
  }

  .com_searchAndpageBoxPadding {
    position  : relative;
    height    : 100%;
    box-sizing: border-box;

    .com_searchPage_top {
      position  : fixed;
      top       : 90px;
      width     : calc(100% - 200px);
      background: white;
      z-index   : 1000;
      height    : 50px;
      box-sizing: border-box;

      .el-tabs__header {

        .el-tabs__item {
          width      : 100%;
          height     : 50px;
          line-height: 50px;
          font-size  : 15px;

          .el-badge__content.is-fixed {
            top  : 24px;
            right: -7px;
          }

          span {
            position: relative;

            .processNum {
              border       : 1px solid #DFE5EE;
              position     : absolute;
              color        : #DFE5EE;
              width        : 26px;
              height       : 26px;
              line-height  : 25px;
              margin-top   : 12px;
              left         : -35px;
              border-radius: 50%;
            }
          }
        }

        .el-tabs__active-bar {
          height: 3px;
        }
      }
    }

    .com_searchPage_top+.searchAndpageBox {
      margin-top: 70px;
    }

    .com_examin_top {
      .is-disabled {
        background    : #4573D0;
        color         : #DFE5EE;
        border-left   : 1px solid #868A94;
        letter-spacing: 1px;

        .processNum {
          color       : white;
          border-color: white;
        }
      }

      .is-active~.el-tabs__item {
        background: #989CA7;
        color     : white;
      }

      .el-tabs__active-bar {
        background: none;
      }
    }

  }

  .searchAndpageBox {
    box-sizing: border-box;
    margin    : 22px;
    padding   : 20px;
    min-height    : 100%;
    height: auto;
    background: #fff;
    position  : relative;

    .handlePart {
      // position: absolute;
      // top     : 20px;
      // left    : 20px;
      position: relative;
      margin: 0px 20px 0px 20px;
      .search {
        display: inline-block;
      }
    }

    // .paginationBox {
    //   position  : relative;
    //   // bottom : 10px;
    //   // left   : 0;
    //   // right  : 0;
    //   // margin : auto;
    //   text-align: center;
    // }

    .tablePart {
      height       : calc(100% - 170px);
      overflow     : auto;
      /* margin-top: 15px; */
      padding-top  : 15px;
      padding-bottom: 15px;
      box-sizing   : border-box;
    }

    .el-input__inner {
      border-radius: 0;
    }
    .el-date-editor {
        height: 32px;
        vertical-align: middle;
        .el-range__icon {
            line-height: 25px;
        }
        .el-range-separator {
            line-height:23px;
        }
    }
  }

  /* 左侧弹出框  */
  .leftDialog {
    height       : 100%;
    margin-top   : 0;
    margin-right : 0;
    margin-bottom: 0;
    overflow     : auto;

    .el-dialog__header {
      border-bottom: 1px solid #D6DBE3;
    }
  }

  /* 左侧弹出框  右边有距离 */
  .leftDialog2 {
    margin-right: 58px;
    height      : calc(100% - 60px);

    .el-dialog__body {
      height  : calc(100% - 200px);
      overflow: auto;
    }

    .el-dialog__footer {
      text-align: center;
    }
  }

  .questDialog {
    min-width: 500px;

    .el-dialog__body {
      height    : 400px;
      overflow-y: auto;
    }
  }

  .caseBox {
    position: absolute;
    width   : 100%;

    .content {
      background   : #ffffff;
      margin       : 22px;
      margin-top   : 32px;
      margin-bottom: 23px;
      font-size    : 26px;
      font-family  : PingFang SC;
      font-weight  : 600;
      color        : rgba(32, 35, 43, 1);
      text-align   : center;
      line-height  : 25px;
    }
  }
}

.caseAndEvidenceListDiaClass {
  .el-dialog__body {
    max-height: 400px;
    overflow-y: auto;

    .el-button-group {
      width: 100%;

      button {
        width: 50%;
      }
    }

    ul {
      li {
        margin: 10px 0;
      }
    }
  }
}

.padding0 {
  padding: 0 !important;
}

.info_top {
  width     : 335px;
  height    : 88px;
  border    : 1px dashed #43464E;
  box-sizing: border-box;

  img {
    margin-top   : 18px;
    margin-right : 14px;
    margin-left  : 33px;
    width        : 52px;
    height       : 52px;
    border-radius: 50px;
    border       : 2px solid #ffffff;
  }

  li {
    float: left;

    .name {
      margin-top : 21px;
      color      : black;
      font-size  : 18px;
      font-weight: 500;
    }

    .number {
      font-size  : 14px;
      color      : #7B7B7B;
      font-weight: 400;
    }
  }

}

.info_center {
  min-height   : 148px;
  padding      : 19px 0 9px;
  margin       : 0 19px;
  border-bottom: 1px solid #979797;
  box-sizing   : border-box;

  .el-form-item {
    margin-bottom: 10px;

    .el-form-item__label {
      line-height: 20px;
      padding    : 0;
      color      : #7B7B7B;
    }

    .el-form-item__content {
      line-height: 20px;
      font-size  : 14px;
      color      : #20232B;
    }
  }

  ul {
    clear: both;

    li {
      float        : left;
      margin-bottom: 10px;
    }

    .lable {
      color: #7B7B7B;
    }

    .info {
      color: #20232B;
    }
  }

}

.info_btm {
  padding   : 22px 19px;
  height    : 62px;
  box-sizing: border-box;

  li {
    width       : 82px;
    cursor      : pointer;
    float       : left;
    margin-right: 25px;

    img {
      vertical-align: middle;
      margin-right  : 8px;
    }
  }
}

.el-message.el-message--error.validateErrorTip {
  left: calc(50% + 100px);
}


#catalogueUpload {
  .el-upload-dragger {
    height: 380px;
  }
}

.el-dialog__wrapper .archiveCatalogueBox {
  background  : #EAEDF4;
  margin-right: 0;
  height      : 100%;

  .el-dialog__header {
    height     : 64px;
    background : #FFFFFF;
    color      : #20232B;
    padding    : 0 0 0 20px;
    line-height: 64px;

    .catalogueTitle {
      font-size: 20px;
      cursor   : pointer;

      img {
        height        : 30px;
        vertical-align: middle;
      }
    }
  }

  .el-dialog__body {
    height        : calc(100% - 150px);
    padding-bottom: 0;

    .a {
      height  : 100%;
      overflow: auto;
    }
  }

  .el-dialog__footer {
    text-align: center;
    position: relative;
  }

  table {
    text-align: center;
    background: #fdffff;

    td {
      padding   : 10px 0;
      min-height: 38px;
      border    : 1px solid #7F8185;
      cursor    : pointer;
    }

    tr {

      td:nth-child(1),
      td:nth-child(3) {
        width: 40px;
      }
    }

    .activeTd {
      td {
        color: red;
      }
    }
  }
}

#catalogueUpload {
  .el-upload-dragger {
    height: 380px;
  }
}

.dialog_unlaw {
  span:focus {
    outline: 0;
  }
  .el-drawer__header,.el-drawer__title {
    margin-bottom: 0;
    padding: 0 41px 0 30px;
    color: #20232b;
    height: 64px;
    line-height: 64px;

    font-size: 20px;
    font-family: PingFang SC;
    font-weight: 500;

    span {
      border: 0 !important;
      border-color: transparent !important;
      // background: red;
    }
  }

  .el-drawer__body {
    padding: 33px 41px 43px 30px;
    border-top: 1px solid #d6dbe3;
  }
}
.dialo {
  :focus {
    outline: 0;
  }
}

/* 标题前有| */
.border-title{
  font-size: 16px;
  font-weight: bold;
  padding-left: 4px;
  border-left: 4px solid #4573d0;
}
