.main {
    width   : 100%;
    height  : auto;
    position: absolute;

}

/* A4纸大小 */
.a4-box {
    width      : 720px;
    height     : 1217px;
    margin     : 22px auto;
    padding    : 70px 120px;
    background : white;
    margin-left: calc(50% - 360);
}


/* pdf内容盒子 */
.pdf-box {
    width      : 100%;
    height     : 100%;
    background : white;
    line-height: 1.2em;

    &.pdf-box .el-input .el-input__inner {
        border   : 0;
        font-size: 16px;
        width    : 100%;
    }

    &.pdf-box .el-textarea__inner {
        border         : 0;
        font-size      : 17px;
        text-align     : center;
        text-align-last: justify;
        text-justify   : distribute-all-lines;/* 兼容ie浏览器 */
        text-decoration: underline;

    }

    /* pdf标题 */
    .pdf-title {
        font-size  : 25px;
        line-height: 50px;
        font-weight: bold;
        text-align : center;
    }

    /* 案由 */
    .reson {
        margin-bottom: 25px;
    }

    /* 案号 */
    .case-number {
        text-align: right;
    }

    /* pdf内表格 */
    .pdf-table {
        width: 100%;
    }

    .pdf-table td {
        padding       : 5px;
        height        : 30px;
        vertical-align: middle;
        text-align    : center;
        border        : 1px solid black;
        /* 表格边框 */
    }

    /* pdf中正文内容 */
    .pdf-report-info {
        text-indent: 2em;
        line-height: 2em;
    }

    .pdf-report-info {
        & .begin {
            text-indent: 0;
        }
    }



    /* 线条宽度 */
    .width250 {
        width: 250px;
    }
    /* 线条宽度 */
    .width100 {
        width: 100px;
    }
    /* 线条宽度 */
    .width210 {
        width: 210px;
    }
    /* 线条宽度 */
    .width118 {
        width: 118px;
    }
    /* 线条宽度 */
    .width94 {
        width: 94px;
    }
    /* 线条宽度 */
    .width224 {
        width: 224px;
    }
    /* 线条宽度 */
    .width150 {
        width: 150px;
    }
    /* 线条宽度 */
    .width200 {
        width: 200px;
    }
    /* 线条宽度 */
    .width360 {
        width: 360px;
    }
    /* 线条宽度 */
    .width245 {
        width: 245px;
    }
    /* 线条宽度 */
    .width264 {
        width: 264px;
    }
    /* 线条宽度 */
    .width555 {
        width: 555px;
    }

    /* 线条宽度 */
    .width430 {
        width: 430px;
    }

    /* 线条宽度 */
    .width80 {
        width: 80px;
    }

    /* 线条宽度 */
    .width30 {
        width: 30px;
    }

    /* 线条宽度 */
    .width650 {
        width: 650px;
    }
    /* 抽样地点线条宽度 */
    .width603 {
        width: 603px;
    }
    /* 线条宽度 */
    .width330 {
        width: 330px;
    }
    /* 线条宽度 */
    .width721 {
        width: 721px;
    }

    /* 线条宽度 */
    .width528 {
        width: 528px;
    }
    /* 线条宽度 */
    .width310 {
        width: 310px;
    }
    /* 线条宽度 */
    .width395 {
        width: 395px;
    }

    /* 线条宽度 */
    .width587 {
        width: 587px;
    }
    /* 线条宽度 */
    .width272 {
        width: 272.5px;
    }

    /* 勘验场所线条宽度 */
    .width256 {
        width: 256px;
    }
    /* 案由线条宽度 */
    .width635 {
        width: 635px;
    }
    /* 五个字线条宽度 */
    .width240 {
        width: 240px;
    }
    /* margin */
     .margin-top87 {
        margin-top: 87px;
    }

    /* 落款-盒子-用于td */
    .pdf-wirte {
        position: relative;
        height  : 150px !important;
        /* 更高优先级 */

    }

    /*  落款（签名）*/
    .pdf-write-name {
        width     : 170px;
        text-align: left;
        position  : absolute;
        right     : 10px;
        bottom    : 10px;
    }

    /* 落款（签章） */
    .pdf-seal {
        width     : 340px;
        text-align: center;
        position  : absolute;
        right     : 10px;
        bottom    : 10px;

        &.pdf-seal .el-input__icon {
            display: none;
        }
    }

    /* 表格中居左显示的字体 */
    .text-left {
        text-align: left;
    }

    /*  表格中居右显示的字体*/
    .text-right {
        text-align: right;
    }

    & p {
        /* text-align-last: left; */
        text-align        : left;
        /* text-justify   : distribute-all-lines; */
        /* 兼容ie浏览器 */

        /* pdf下划线 */
        & .pdf-line {
            display        : inline-block;
            border-bottom  : 1px solid black;
            text-align     : center;
            text-align-last: center;
            text-justify   : distribute-all-lines;
            /* 兼容ie浏览器 */

            text-indent: 0;
        }
    }

    & input[type=checkbox] {
        cursor  : pointer;
        position: relative;
        width   : 15px;
        height  : 15px;
        margin  : 0 5px;
    }

    & input[type=checkbox]::after {
        position        : absolute;
        top             : 0;
        background-color: #ffffff;
        border          : 1px solid #000;
        color           : #000;
        width           : 15px;
        height          : 15px;
        display         : inline-block;
        visibility      : visible;
        padding-left    : 0px;
        text-align      : center;
        content         : ' ';
        border-radius   : 3px
    }

    & input[type=checkbox]:checked::after {
        content    : "✓";
        font-size  : 12px;
        font-weight: bold;
        border     : 0;
    }

}

/* 悬浮按钮 */
.float-btns {
    width   : 48px;
    height  : 100px;
    position: fixed;
    right   : 3%;
    bottom  : 167px;

    &.float-btns .el-button {
        border-radius: 1px;
        width        : 48px;
        height       : 48px;
        padding      : 0;
        text-align   : center;
    }

    &.float-btns .el-button+.el-button {
        margin-left: 0;
        margin-top : 10px;
    }

    &.float-btns .el-button--success {
        color           : white;
        background-color: #4AAFA7;
        border-color    : #4AAFA7;

    }

}

.overWidth {
    font-size: 10px;

    &.overWidth .el-input {
        font-size: 12px !important;
    }

    &.overWidth .el-input__inner {
        font-size: 12px !important;
    }
}

.overflow_style {
    text-decoration: underline;
}
