@import "./basicStyles/variables.scss";
@import "./basicStyles/lengthStylesSet.scss";
$dialog-default-height: 560px !default;
.fullscreen {
  .login {}

  .el-aside {
    background: $cats-black2B313E-color;
    // z-index: 200;
  }
  .el-container{
    height: calc(100vh - 60px) ;
  }
  .el-main {
    background: #EAEDF4;
    padding   : 0;
    height    : 100%;
    box-sizing: border-box;
    position  : relative;
  }

//   .paginationBox {
//     // margin-top: 20px;
//   }

  /* 按钮 */
  .el-button {
    i {
      margin-right: 2px;
    }
  }

  .el-button--default {
    border: 1px solid #DDDDDD;
    color : #7B7B7B;
  }

  .el-button--info {
    background  : $cats-base-green-color;
    border-color: $cats-base-green-color;
    color       : #fff;
    &:hover{
      background  : $cats-green51C5BC-color;
    }
  }

  .el-button--primary {
    background  : $cats-blue-color;
    border-color: $cats-blue-color;
    &:hover{
      background  : $cats-blue4D89FF-color;
    }
  }

  .el-button--medium {
    padding: 7px 14px;
  }

  /* 表单 */
  .el-form-item {
    margin-bottom: 18px;
  }
  .el-form-item__error {
      padding-top: 2px;
  }
  .el-input .el-input__inner {
    height: 32px;
    border-radius: 0px;
  }
  .el-textarea,.el-textarea__inner{
    border-radius: 0px;
  }
  .el-select{
      width: 100%;
  }
  /* 小号表单 */
.el-input--mini {
  .el-input__inner{
    height:24px;
  }
}

  /* 表格 */
  .el-table td,
  .el-table th {
    padding: 4px 0;
  }
    .el-table td, .el-table th.is-leaf {
        border-top:1px solid #F6F5FA;
        border-bottom:1px solid #F6F5FA;
    }
    .el-table .el-table__header {
        border-top:1px solid #E3E3EC;
        border-bottom:1px solid #E3E3EC;
        th.is-leaf {
            border: 0px;
            .cell {
                font-weight: bolder;
                color: #20232B;
            }
        }
    }
  .el-table th {
    background: #E9EDF6;
  }

  .el-table.tableChild th{
    background: #f2f3f6;
    }

  /* 弹窗 */
  .el-dialog__header {
    background: #E9EDF6;
  }
  .el-drawer__body{
    overflow: auto;
  }
//   .el-dialog__body {
//     max-height: 450px;
//     overflow  : auto;
//   }

  /* 表格溢出-默认最多显示两行*/
  .el-table .cell {
    overflow          : hidden;
    text-overflow     : ellipsis;
    display           : -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    // min-height     : 44px;
  }

  /* 表格行高-默认最小值*/
  .el-table__row {
    height: 53px;
    cursor: pointer;
  }
  .tablePart {
    height:calc(100% - 170px) !important;
  }
  .el-table {
      height: 100%;
  }
  .el-table__body-wrapper {
    height:calc(100% - 31px) !important;
    padding-bottom: 15px;
    overflow-y:auto;
    min-height:33px;
    }
    // .el-table--border, .el-table--group,.el-table--border td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed {
    //     border: 0px solid black;
    // }
    .el-table--border::after, .el-table--group::after {
        width: 0px;
    }
}
// 新增-by:jingli
.el-table__expanded-cell {
    border: 1px solid #f2f2f2 !important;
    border-top: 0px !important;
}
.paginationBox {
    position  : relative;
    text-align: center;
    margin:15px;
    flex-shrink:0;
    .el-input__inner,.el-pagination .el-select .el-input .el-input__inner {
        border-radius: 0px;
        height: 34px;
    }
    .el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li{
        border-radius: 0px;
        width: 34px;
        height: 34px;
        line-height: 34px;
        border: 1px solid #D5D5D5;
        background: white;
    }

    .el-pagination.is-background .el-pager li:not(.disabled).active {
        background:rgba(255,255,255,1);
        border: 1px solid #236ABD;
        color: #4573D0;
        box-shadow:0px 0px 2px 0px rgba(94,137,181,0.1);
    }
    .el-pagination__jump {
        margin-left: 5px;
    }
    button[disabled="disabled"] {
        border: 1px solid #f4f4f4 !important;
    }
}
.searchPage {
    .el-date-editor {
        height:33px;
        line-height:33px;
    }
    .el-input__inner{
        border-radius: 0px;
    }

}
.fullscreen {
    // .el-form-item__content {
    //     overflow: hidden;
    //     .el-input{
    //         .el-input__inner{
    //             width: 169px;
    //             border-radius: 0px !important;
    //         }
    //     }
    //     .el-textarea__inner{
    //         width: 169px;
    //         border-radius: 0px !important;
    //     }
    //     .el-date-editor .el-input__inner,.el-date-editor .el-input{
    //         width: 169px;
    //         border-radius: 0px !important;
    //         .el-input__prefix {
    //             left: auto;
    //             right: 5px;
    //         }
    //     }
    //     .el-input__suffix {
    //         left: auto;
    //         right: 5px;
    //     }
    //     .el-input--prefix .el-input__inner {
    //         padding-left: 30px;
    //     }
    //     .el-select {
    //         width: 169px;
    //         border-radius: 0px !important;
    //     }
    // }
    .el-button  {
        border-radius: 0px;
    }
}
.el-dialog.fullscreen {
    height: auto;
}

.el-dialog__body{
  max-height: $dialog-default-height;
  overflow: auto;
}
.el-drawer__title {
  span:focus {
    outline: 0;
  }
}

// loading动画
.car-loading {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 55px;
  height: 44px;
  text-align: center;
  opacity: 1;
  z-index: 1003;
  border-radius: 10px;
  background: url('../static/images/img/car.svg') no-repeat center;
  /*设置关键帧的播放时间*/
  animation: carLoading 2s infinite linear;
  @keyframes carLoading{
    0% { background-size: 15%; }
    25% { background-size: 25%; }
    50% { background-size: 50%; }
    75% { background-size: 75%; }
    100% { background-size: 100%; }
  }
}
.el-loading-spinner{
  transform: translateY(-50%);
  .el-loading-text{
    margin-top: 60px;
  }
}
.loading-box{
  .el-loading-text{
    margin-top: 80px;
  }
}
// 弹窗底部操作栏样式
.el-dialog__footer{
  border-top: 1px solid #E9EDF6;
  padding: 15px 20px;
}

// 自定义confirm提示框样式修改
.custom-confirm{
  border-radius: 0;
  .el-message-box__header{
    padding: 15px;
    background: #E9EDF6;
  }
  .el-message-box__content{
    padding: 30px 15px;
    .el-message-box__message{
      font-size: 16px;
      color: #606060;
    }
    .el-icon-question{
      color: #E0443D;
    }
    .custom-question{
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url('../static/images/img/tip_wenhao.png') no-repeat center;
    }
    .custom-remind{
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url('../static/images/img/exam/remind.png') no-repeat center;
      background-color: #FEBD0D;
      border-radius: 4px;
    }
    .el-message-box__status{
      font-size: 20px !important;
      &.law-success{
        color: #17C062;
      }
    }
  }
  .el-message-box__btns{
    padding: 15px 15px 5px;
    border-top: 1px solid #E9EDF6;
    // display: flex;
    // flex-direction: row-reverse;
    .el-button{
      padding: 10px 24px;
      font-size: 14px;
      border-radius: 0;
      &.el-button--primary{
        background: $cats-blue-color;
        // margin-right: 10px;
        &:hover{
          background: $cats-blue4D89FF-color;
        }
      }
    }
  }
}
.zIndexHidden {
    z-index: -1;
}
span {
    outline: none;
}
