@import "./basicStyles/variables.scss";
//搜索
.toggleBox {
    .handlePart {
        position: relative;
        padding: 0px 7px;
    }
}
.searchPage {
    display: flex;
    flex-direction: column;
    background: #fff;
    position: relative;
    height: 100%;
    padding: 17px;
    box-sizing: border-box;
    overflow-y: auto;
    box-shadow:0px 6px 4px 0px rgba(94,137,181,0.1);
    .paginationBox {
        flex-shrink:0;
        height:40px;
    }
    .handlePart {
        flex-shrink:0;
    }
    .tablePart {
        flex-shrink:1;
        height: 100%;
        .el-table__body-wrapper {
            height:100%;
            overflow-y:auto;
        }
    }
    .commonBtn {
        width:43px;
        height:32px;
        border-radius: 0px;
        border: 0px;
    }
    .searchBtn {
        background:rgba(238,238,238,1);
    }
    .toogleBtn {
        background:rgba(221,221,221,1);
    }
    .el-form-item {
        margin-bottom: 17px;
        margin-right: 0px;
        .el-form-item {
            margin-bottom: 0px;
        }
    }
}
.containerBox {
    width:calc(100% - 100px) !important;
    .back {
        color:#646974;
        line-height:50px;
        border-bottom: 1px solid #DDDDDD;
        padding:0 20px;
        font-size: 14px;
        cursor: pointer;
    }
}
input {
    border-radius: 0px !important;
}
.transition-box {
    margin-bottom: 10px;
    width: 200px;
    height: 100px;
    border-radius: 4px;
    background-color: #409EFF;
    text-align: center;
    color: #fff;
    padding: 40px 20px;
    box-sizing: border-box;
    margin-right: 20px;
}

// 涉及机构
.searchPageLayout {
    height: 100%;
    position: relative;
    overflow:hidden;
}
