@import "./basicStyles/variables.scss";

.departOrUserTree{
    width: 20%;
    height: 100%;
    float: left;
    background: #F5F7FB;
    box-sizing: border-box;
    padding: 15px 0 15px 17px;
    border-right: 1px solid #EEEEEE;
    position: relative;
    .el-input{
        padding-right: 20px;
        box-sizing: border-box;
        margin-bottom: 15px;
        .el-input__inner {
            height: 36px;
            border-radius: 0px;
        }
        .el-input-group__append {
            height: 34px;
            border-radius: 0px;
            background: #F0F0F0;
            button {
                width: 36px;
                .el-icon-search {
                    font-size: 18px;
                    margin-left: -4px;
                }
            }
        }
    }
    .el-tree>.el-tree-node {
        min-width: 100%;
        display: inline-block;
    }
    .el-tree{
        background: #F5F7FB;
        font-size: 12px;
        margin-left: -10px;
        .el-tree-node__content {
            line-height: 30px;
            height: 30px;
        }
    }
    .treeBox{
        height:calc(100% - 100px) ;
        overflow: auto;
        /* 线上样式冲突 */
        max-height: auto;
    }
    .deep-color{
        .is-current{
            color: black;
        }
    }
    p{
        padding: 10px 0 19px 0px;
        font-size: 18px;
        font-weight: bolder;
    }
    .custom-tree-node{
        span{
            i{
                color: $cats-blue-color;
                margin-right: 5px;
                font-size: 13px;
            }
        }
        .hasMarginLeft{
            margin-left: 2px;
        }
    }
    .searchDepartBox{
        // margin: 10px 0;
        input{
            height: 36px;
        }
        .el-input-group__append{
            padding: 0 15px;
            background: #eee;
        }
    }

}

.departTable{
    width: 80%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    padding: 20px;
    background: #fff;
    overflow-y: scroll;
    .departTable-title{
        line-height: 30px;
        display: flex;
        justify-content: flex-start;
        .departTable-title-update {
          margin-left: 10px;
        }
        .editSelectNode{
            cursor: pointer;
            margin-left: 10px;
        }
    }
    .handelBtn{
        overflow: hidden;
        margin-bottom: 20px;
        margin-top: 10px;
        &>div:nth-child(1){
            float: left;
            line-height: 32px;
            color: #5F6370;
        }
        &>div:nth-child(2){
            float: right;
            &>div{
                float: left;
            }
            .el-dropdown__caret-button{
                padding-top: 9px;
            }
        }
        .handelBtnDel{
            margin-left: 10px;
        }

    }
}

.addOrganClass{
    .item{
        width: 48%;
        position: relative;
        .errorInput{
            position: absolute;
            top: 44px;
            left: 100px;
            color: #F56C6C;
            font-size: 12px;
        }
    }
    #bigItem{
        width: 100%;
         label.el-form-item__label{
            line-height: 20px;
         }
    }
    .part{
        overflow: hidden;
        &>div.item:nth-child(odd){
            float: right;
        }
        &>div.item:nth-child(even){
            float: left;
        }
        .titleP{
            font-size: 16px;
            padding-left: 4px;
            border-left: 4px solid $cats-blue-color;
            margin-bottom: 15px;
            font-weight: bold;
        }
    }

}
.errorTipForm{
    .item{
        position: relative;
        .errorInput{
            position: absolute;
            top: 44px;
            left: 80px;
            color: #F56C6C;
            font-size: 12px;
        }
    }
}
.demo-form-inline{
    display:flex;
    justify-content:flex-end;
}


#userBox{
    .userSearchPart{
        overflow: hidden;
        &>div{
            float: left;
        }
        &>div:nth-child(1),&>div:nth-child(2),&>div:nth-child(3),&>div:nth-child(4){
            width: 17%;
        }
        &>div:nth-child(5){
            width: 22%;
        }
        &>div:last-child{
            width: 10%;
            button{
                margin-top: 5px;
            }
        }
    }
    .userSearchPart:nth-child(2){
        overflow: hidden;
        &>div{
            float: right;
        }
        &>div:nth-child(1){
            width: 22%;
            margin-left: 10px;
            button{
                margin-top: 5px;
            }
        }
        &>div:nth-child(2){
            width: 25%;
        }
    }
}

#menuBox{
    padding-top: 50px;
    .handlePart{
        width: 100%;
        height: 50px;
        top: 0;
        .leftTitle{
            position: absolute;
            top: 20px;
            left: 20px;
        }
        .rightTitle{
            position: absolute;
            top: 20px;
            right: 40px;
        }
    }
}

.zfml{
    width: 30%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    padding: 20px;
    padding-left: 20px;
    border-right: 1px solid #EEEEEE;
    .el-tree{
        background: #F5F7FB;
    }
    .treeBox{
        // max-height: 400px;
        overflow-y: auto;
    }
    p{
        line-height: 30px;
    }
    .custom-tree-node{
        span{
            i{
                color: $cats-blue-color;
                margin-right: 5px;
            }
        }
        .hasMarginLeft{
            margin-left: 2px;
        }
    }
    .searchDepartBox{
        margin: 10px 0;
        input{
            height: 36px;
        }
        .el-input-group__append{
            padding: 0 15px;
            background: #eee;
        }
    }

}

.caseType{
    width: 50%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    padding: 20px;
    padding-left: 20px;
    border-right: 1px solid #EEEEEE;
    .el-tree{
        background: #F5F7FB;
    }
    .treeBox{
        // max-height: 400px;
        overflow-y: auto;
    }
    p{
        line-height: 30px;
    }

}

.dentail-solid{
    .el-form-item{
        margin-bottom:0 ;
    }
    .el-form-item__content{
        margin-bottom:0 !important;
    }
}
/* max-height样式冲突 */
.max-height-conflict{
    max-height: 9999px !important;
}
