
@import "./variables.scss";
/* 主色调 */
.blackC {
    color: $blackC
};
.blackBg {
    background: $blackC;
}

.blackC2 {
    color: $blackC2;
}
.blackBg2 {
    background: $blackC2;
}

.blueC {
    color: $blueC
}
.blueBg {
    background: $blueC
}
