.errorMsg {
    position: absolute;
    width: 100%;
    bottom: 0px;
    background: rgba($color: #c96d68, $alpha: 0.9);
    background-color: rgba($color: #c96d68, $alpha: 0.9);
    border-radius: 0px;
    margin-left:200px;
    top: auto !important;
    border:0px;
    height: 45px;
    color:white;
    i.iconfont {
        color:white;
        font-size: 18px;
    }
    .el-message__content {
        margin-left:10px;
    }
}
.successMsg {
    position: absolute;
    width: 100%;
    bottom: 0px;
    background: rgba($color: #73c968, $alpha: 0.9);
    background-color: rgba($color: #73c968, $alpha: 0.9);
    border-radius: 0px;
    margin-left:200px;
    top: auto !important;
    border:0px;
    height: 45px;
    color:white;
    i.iconfont {
        color:white;
        font-size: 18px;
    }
    .el-message__content {
        margin-left:10px;
    }
}
