
@import "./variables.scss";
/*------------字体颜色设置------------字体颜色设置------------*/
.blackC {
    color: $blackC
};
.blackC2 {
    color: $blackC2;
}
.blueC {
    color: $blueC;
}
.greenC2 {
    color: $greenC2;
}
.orangeC {
    color: $orangeC;
}

/*------------背景颜色设置------------背景颜色设置------------*/
.blackBg {
    background: $blackC;
}
.blackBg2 {
    background: $blackC2;
}
.blueBg {
    background: $blueC;
    color: $white;
}
.greenBg2 {
    background: $greenC2;
    color: $white;
}
.orangeBg {
    background: $orangeC;
}
.redBg {
    background: $redC;
}
