@import "./variables.scss";
* {
    box-sizing: border-box;
}
.alignCenter {
    text-align: center;
}
.tablePart {
    .el-table {
        .el-table__header {
            border-top: 1px solid $cats-table-header-color;
            border-bottom: 1px solid $cats-table-header-color;
        }
        th {
            background: $cats-table-header-bg !important;
            padding: 4px 0;
        }
    }
}
