// 颜色变量

/* 主色调 */
$blackC : #252526;
$blackC2: #2B313E;
$greenC : #52C1B6;
$greenC2: #4AAFA7;
$blueC  : #4573D0;
$blueC2 : #0074F5;
$yellowC: #F1C100;
$grayC  : #EAEDF4;
$mainC  : #000;




$grayC: #FAFAFA;

/*  $bgC       : #f2f2f2; */
$font_hover    : red;
$lineC         : #d8d8d8;
$activeTopLineC: #00adb5;

$contentBC: #f8f9fe;
/* 主背景色 */
$scrollbarC: #dee2ef;
/* 滚动条颜色 */

$fontC    : #442b2d;
$fontBlack: #333;

$shadowC: #d7d7d7;
$mainBtn: #000;
$color6 : #666;



$grayColor: #ccc;

/* 灰色  box阴影使用  */
/* 圆角 */

@mixin borderRadius($radius: 5px) {
  -moz-border-radius   : $radius;
  -webkit-border-radius: $radius;
  border-radius        : $radius;
}
