/*---------- 颜色变量-------------------- 颜色变量----------*/

/* 主色调 */
$cats-base-black-color : #252526;
$cats-black2B313E-color: #2B313E;
$cats-green52C1B6-color : #52C1B6;
$cats-base-green-color: #4AAFA7;
$cats-green51C5BC-color: #51C5BC;
$cats-blue-color  : #4573D0;
$cats-blue0074F5-color : #0074F5;
$cats-blue4D89FF-color : #4D89FF;
$cats-yellow-color: #F1C100;
$cats-grayEAEDF4-color  : #EAEDF4;
$cats-main-color  : #000;
$cats-gray-color  : #FAFAFA;
$cats-grayF0-color : #F0F0F0;
$cats-white-color  : #FFFFFF;
$cats-orange-color: #ffbe3a;
$cats-red-color   : #c63d3a;

/*  $bgC       : #f2f2f2; */
$cats-font-hover-color      : red;
$cats-line-color : #d8d8d8;
$cats-activeTopLine-color  : #00adb5;

$cats-content-bg-color           : #f8f9fe;
/* 主背景色 */
$cats-scrollbar-color: #dee2ef;
/* 滚动条颜色 */

$cats-font-color    : #442b2d;
$cats-font-black-color: #333;

$cats-shadow-color: #d7d7d7;
$cats-mainBtn-color         : #000;
$cats-gray666-color        : #666;

$cats-grayccc-color: #ccc;
/*----------table颜色---------table颜色---------*/
$cats-table-header-color   : #E3E3EC;
$cats-table-header-bg  : #E9EDF6;

/*---------- 长度变量-------------------- 长度变量----------*/
$cats-length380px: 380px;
$cats-length750px: 750px;


$f12: 12px;
/* 灰色  box阴影使用  */
/* 圆角 */

@mixin borderRadius($radius: 5px) {
  -moz-border-radius   : $radius;
  -webkit-border-radius: $radius;
  border-radius        : $radius;
}