// A4纸大小
.a4-box {
    width     : 960px;
    height    : 1357px;
    padding   : 50px 30px;
    background: white;
}

//pdf内容盒子
.pdf-box {
    width     : 100%;
    height    : 100%;
    background: white;
}

// pdf标题
.pdf-title {
    font-size  : 25px;
    font-weight: bold;
    text-align : center;
}

// 案号
.case-number {
    text-align: right;
}

// pdf内表格
.pdf-table {
    width: 100%;
}

.pdf-table td {
    padding       : 5px;
    vertical-align: middle;
    text-align    : center;
    line-height: 1.2em;
    border        : 1px solid black; //表格边框
}

// pdf内表格中的选项样式
.pdf-td-body {
    text-align: left;
}
.pdf-td-body input {
    margin: 0 5px;
}