@import "../in/base/variables.scss";

.shadow {

    box-shadow: 0 6px 4px 0 rgba(94, 137, 181, 0.1);
    background: #fff;
    box-sizing: border-box;
}

.n_searchAndpageBox {
    box-sizing: border-box;
    height: 100%;

}

.person_detail {
    height: 100%;

    .shadow {
        box-shadow: 0 6px 4px 0 rgba(94, 137, 181, 0.1);
        box-sizing: border-box;
    }

    .top_title {
        margin-bottom: 22px;
        background: #fff;
        &.shadow{
            padding-bottom: 0;
        }


        ul {
            display: table;
            margin: 0 auto;
            width: auto;
            text-align: center;
            border-bottom: none;

            li {
                width: 78px;
                height: 52px;
                line-height: 52px;
            }

            .el-menu--horizontal>.el-menu-item {
                height: 52px;
                line-height: 52px;
            }

            .el-menu--horizontal>.el-menu-item.is-active {
                border-bottom: 3px;
                box-sizing: border-box;
            }

            .el-menu-item {
                font-size: 16px;
                padding: 0 7px;
                margin: 0 27px;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: #20232B;
            }
        }
    }


}

.el-form {
    width: 100%;
    height: 100%;
}

.dentail_info_box {
    height: calc(100% - 74px);
    background: #fff;
    overflow: auto;



    .edit_btn {
        margin: 30px 35px 23px;
        width: 118px;
        height: 32px;
        line-height: 7px;

    }

    .info_box {
        width: 100%;

        .info_content {
            width: calc(100% - 266px);
            padding-bottom: 20px;
        }

        .line {
            height: 1px;
            width: calc(100% - 68px);

            border: none;
            border-top: 1px dashed #979797;
        }

        .center_content {
            margin-top: 26px;
            margin-bottom: 23px;
            height: 28px;
            line-height: 20px;
            font-size: 20px;
            font-weight: 00;
            word-break: break-all;
            display: flex;
            align-items: center;

            .titleflag {
                width: 4px;
                height: 20px;
                margin-left: 35px;
                margin-right: 8px;
                display: inline-block;
                background: #4573D0;
            }

            .title-left {
                font-size: 20px;
                line-height: 28px;
                font-weight: bold;
            }

        }

        .el-form-item {
            margin-left: 14px;
            margin-bottom: 0;
        }

        .el-form-item__content {
            font-weight: 520;
            width: 435px;
        }

        .img_box {
            margin-top: 50px;

            img {
                width: 136px;
                height: 190px;
            }
        }


    }


    /* 左右布局 */
    .css_left {
        width: 217px;
        height: 100%;
        border-right: 1px solid #DDDDDD;
    }

    .css_right {
        width: calc(100% - 218px);
        height: 100%;
    }

}

.new_css {
    width: 100%;
    height: 100%;

    .info_content {
        width: 100% !important;
    }

    .el-form-item {
        margin-right: 60px;
        margin-bottom: 24px !important;
    }
}

.form_class {
    height: 56px;
    width: 650px;
}

.cats-layout .el-input .el-input__inner {
    height: 36px;
}

.el-select {
    width: 435px;
}
