.print_box {
    width : 100%;
    height: 100%;
    /* 默认属性 */
    font-family: SimSun;
    font-size  : 16px;
    color      : #000000;
    line-height: 32px;

    /* a4盒子 */
    .print_info {
        width     : 720px;
        height    : 1217px;
        margin    : 0 auto;
        padding   : 81px 82px 0;
        background: #FFFFFF;

        /*  标题 */
        .doc_topic {
            margin-top : 80px;
            height     : 28px;
            font-size  : 20px;
            font-family: STSongti-SC-Black, STSongti-SC;
            font-weight: 900;
            line-height: 28px;
            text-align : center;

        }

        /*  案号 */
        .doc_number {
            margin-top   : 11px;
            font-size    : 14px;
            line-height  : 16px;
            text-align   : right;
            margin-bottom: 12px;
        }

        /* 表格 */
        & tr {
            height: 42px;
            // display: table-cell;
            vertical-align: middle;
            text-align: center;
        }
        /* 表格 */
        & td {
            border: 1px solid rgba(0, 0, 0, 1);
            height: 42px;
            width      : 81px;
            height     : 16px;
            font-size  : 16px;
            line-height: 18px;
            // display: inline-flex;
        }
    }
}