.print_box {
    width : 100%;
    height: 100%;
    /* 默认属性 */
    font-family: 'SimSun';
    font-size  : 16px;
    color      : #000000;
    line-height: 32px;


    /* a4盒子 */
    .print_info {
        width         : 720px;
        height        : 1217px;
        position      : absolute;
        left          : calc(50% - 360px);
        // margin-left: -360px;
        left          : 0;
        right         : 0;
        margin        : auto;
        padding       : 81px 82px 0;
        background    : #ffffff;
        box-sizing    : border-box;  /* 包含padding */


        /*  标题 */
        .doc_topic {
            // margin-top     : 80px;
            height            : 28px;
            font-size         : 20px;
            /*  font-family   : STSongti-SC-Black, STSongti-SC; */
            font-weight       : 900;
            line-height       : 28px;
            text-align        : center;

        }

        /*  案号 */
        .doc_number {
            margin-top   : 11px;
            font-size    : 14px;
            line-height  : 16px;
            text-align   : right;
            margin-bottom: 12px;
        }

        /* 案由 */
        .doc_cause {
            .el-form-item {
                height: 32px;
                width : 663px;
            }

            /* 输入框 */
            .el-textarea {
                vertical-align: center !important;
            }

            .el-textarea__inner {
                margin-top    : -9px;
                min-height    : 32px !important;
                height        : 32px !important;
                background    : #DBE4EF;
                vertical-align: center !important;
                overflow: auto;

            }

        }

        /* 表格 */
        & tr {
            height    : 42px;
            text-align: center;

            /* 表格 */
            & td {
                border         : 1px solid #000000;
                height         : 16px;
                font-size      : 16px;
                line-height    : 18px;
                display        : table-cell;
                vertical-align : middle;
                padding        : 0 8px;
                text-align     : justify;
                text-align-last: justify;
                white-space    : nowrap;


                .el-form-item {
                    width: 100%;
                }

                /* 输入框 */
                .el-textarea {
                    height            : calc(100% - 1px);
                    // text-align     : left;
                    // text-align-last: left;
                    vertical-align    : middle;
                    text-decoration   : none;
                }

                .el-textarea__inner {
                    font-size  : 16px;
                    line-height: 14px;
                }

                p {
                    text-indent: 0;
                    line-height: 32px;

                    .el-form-item {
                        width: auto;
                    }
                }
            }
        }

        /* placeholder颜色 */
        .el-input__inner::-webkit-input-placeholder,
        .el-textarea__inner::-webkit-input-placeholder {
            color      : #000000;
            text-align : center;
            font-size  : 16px;
            font-family: SimSun;
        }

        /* 缩文字 */
        .over_flow {
            font-size: 12px;

            .el-input .el-input__inner {
                font-size: 12px;
            }

            .el-textarea__inner {
                font-size  : 12px;
                line-height: 13px;
            }
        }

        /* 段落 */
        & p {
            text-indent: 2em;

            label,
            span {
                text-indent: 0;
            }

            .el-form-item__content {
                height        : 32px;
                line-height   : 32px;
                text-indent   : 0;
                // width      : 200px;


                .el-input {
                    height: 30px;

                }

                .el-textarea {
                    width             : 1%;
                    height            : 30px;
                    vertical-align    : middle;
                    display           : table-cell;
                    background        : #DBE4EF;
                    border-radius     : 4px;
                    right             : 0;
                    // white-space    : nowrap;
                }

                .el-input__inner,
                .el-textarea__inner {
                    font-size      : 16px;
                    background     : #DBE4EF;
                    max-height     : 30px;
                    line-height    : 14px;
                    text-align     : left;
                    text-align-last: left;
                }
            }



            /* 错误提示  */
            .el-form-item__error--inline {
                line-height: 32px;

            }

            .side_left {
                display    : inline-block;
                float      : left;
                text-indent: 2em;

            }



            .span_bg {
                display   : inline-block;
                background: #DBE4EF;
                width     : 100%;
                height    : 24px;

            }

            .text_bg {
                background : #DBE4EF;
                font-weight: 600;
            }

            .side_right {
                width     : 100%;
                height    : 100px;
                position  : absolute;
                word-break: break-all;
                top       : -8px;
                font-size : 16px;

                & .el-form-item {
                    width: 100%;

                }

                .over_topic {
                    display    : inline-block;
                    text-indent: 2em;
                    font-weight: 300;
                    background : #FFFFFF;
                }

                .el-form-item__content {
                    width         : 100%;
                    vertical-align: middle;
                    text-indent   : 50px;
                    font-weight   : 600;
                    font-size     : 16px;
                    font-family   : SimSun;
                }

                /* 错误提示  */
                .el-form-item__error--inline {
                    position   : absolute;
                    display    : inline-block;
                    padding-top: 2px;
                    left       : 145px;
                    font-size  : 16px;
                }

                .span_bg {
                    margin-top: 5px;
                }

            }

        }

        .side_right_indent {
            margin-bottom: 10px;
            text-indent  : 0;
            line-height  : 32px;
            position     : relative;
            top          : 12px;
        }

        /* input表格背景色 */
        .color_DBE4EF {
            background     : #F6F7FB;
            text-align     : left;
            text-align-last: left;
        }



        /* 输入框 */
        .el-input,
        .el-textarea {
            width        : 100%;
            height       : 100%;
            color        : #000000;
            font-size    : 16px;
            font-family  : SimSun;
            text-overflow: clip;

        }


        .el-input__inner,
        .el-textarea__inner {
            font-family    : SimSun;
            padding        : 0;
            border         : 0;
            height         : 100%;
            text-align     : left;
            text-align-last: left;
            font-weight    : 600;
            background     : #F6F7FB;
            color          : #000000;
            text-overflow  : clip;
        }


        .el-textarea__inner {
            resize: none;
            /* 去掉右下角标 */
            font-size   : 16px;
            font-weight : 600;
            text-justify: distribute-all-lines;
        }

        .el-form-item {
            margin-bottom: 0;
        }

        .el-form--inline .el-form-item {
            margin: 0;
        }

        .el-form-item__content {
            width : 100%;
            height: 100%;
        }

        /* 错误提示  */
        .el-form-item__error {
            // width     : 100%;
            // height    : 100%;
            border-radius: 4px;
        }

        /* 错误提示  */
        .el-form-item__error--inline {
            position           : absolute;
            display            : inline-block;
            margin             : 0;
            // background-color: pink;
            padding-top        : 0;
            padding-left       : 10px;
            left               : 0;
            line-height        : 40px;
            text-align-last    : center;
            vertical-align     : middle;
            font-size          : 16px;
        }



        /* 换行 */
        .over_line {
            font-size: 12px;
            color    : red;

            .el-input .el-input__inner {
                font-size  : 12px !important;
                line-height: 14px !important;
                color      : red !important;
            }
        }

        .print_table {

            .el-input .el-input__inner {
                border: 0;
                width : 100%;
            }

        }

        /* 落款（签章） */
        .pdf_seal {
            margin-top   : 15px;
            margin-bottom: 11px;
            width        : 176px;
            text-align   : center;
            font-size    : 16px;
            font-family  : SimSun;
            float        : right;

            /* 错误提示  */
            .el-form-item__error--inline {
                position   : absolute;
                display    : inline-block;
                padding-top: 0;
                left       : 15px;
                top        : 17px;
                font-size  : 16px;
            }

            .el-input__prefix {
                display: none;
            }

            & .pdf_datapick {
                width: 128px;

                .el-input {
                    padding    : 0;
                    border     : 0;
                    width      : 128px;
                    height     : 18px;
                    color      : #000000;
                    font-size  : 16px;
                    font-family: SimSun;

                }

                .el-input__inner {
                    padding    : 0;
                    border     : 0;
                    height     : 18px;
                    text-align : center;
                    background : #DBE4EF;
                    color      : #000000;
                    text-indent: 0;

                }

                .el-input__icon {
                    display: none;
                }

            }
        }



        /* 选择框 */
        & input[type=checkbox] {
            cursor      : pointer;
            position    : relative;
            width       : 12px;
            height      : 12px;
            border      : 0;
            margin-right: 0.5em;
        }

        & input[type=checkbox]::after {
            position    : absolute;
            background  : rgba(219, 228, 239, 1);
            border      : 1px solid #000000;
            color       : #000;
            width       : 12px;
            height      : 12px;
            display     : inline-block;
            visibility  : visible;
            padding-left: 0px;
            text-align  : center;
            content     : ' ';
        }

        & input[type=checkbox]:checked::after {
            content    : "✓";
            background : #FFFFFF;
            width      : 15px;
            height     : 15px;
            font-size  : 15px;
            font-weight: bold;
            border     : 0;
            box-shadow : none;
        }
    }

    /* 悬浮按钮 */
    .float-btns {
        width   : 48px;
        height  : 100px;
        position: fixed;
        right   : 27px;
        bottom  : 167px;

        &.float-btns .el-button {
            border-radius: 1px;
            width        : 48px;
            height       : 48px;
            padding      : 0;
            text-align   : center;
        }

        &.float-btns .el-button+.el-button {
            margin-left: 0;
            margin-top : 10px;
        }

        &.float-btns .el-button--success {
            color           : white;
            background-color: #4AAFA7;
            border-color    : #4AAFA7;

        }

    }

    /* pdf下划线 */
    .write_line {
        display        : inline-block;
        border-bottom  : 1px solid black;
        text-align     : center;
        text-align-last: center;
        text-justify   : distribute-all-lines;
        /* 兼容ie浏览器 */

        text-indent: 0;
    }

    .width250 {
        width: 250px;
    }

    .width150 {
        width: 150px;
    }

    u {
        font-weight: 600;
    }
}

.clear {
    clear: both;
}


.center_similar {
    text-indent: 1em !important;
}

/* 询问笔录 */
.indent_style {

    p,
    .over_topic {
        text-indent: 0 !important;
    }

    .el-form-item__label {
        padding    : 0;
        margin-top : -8px;
        font-family: SimSun;
        font-size  : 16px;
        color      : #000000;
        height     : 32px;
        line-height: 32px;

    }

    .el-form-item {
        margin-right: 0 !important;
    }

    .datapick_style {
        .el-input__inner {
            height: 32px !important;
        }
    }
}

.table_seal {
    // td{
    vertical-align: bottom !important;
    // }
}

/* 询问笔录时间选择框 */
.pdf_datapick {

    // width: 128px;
    .el-date-editor--datetimerange.el-input__inner {
        width      : 420px;
        font-family: SimSun;
        font-size  : 16px;
        color      : #000000;
        line-height: 32px;
        font-weight: 600;

        .el-range-editor,
        .el-range-input {
            font-size  : 16px;
            background : #DBE4EF;
            color      : #000000;
            line-height: 32px;
            font-weight: 600;
            width: 47%;

        }

        .el-range-editor::-webkit-input-placeholder,
        .el-range-input::-webkit-input-placeholder {
            font-size  : 16px;
            background : #DBE4EF;
            color      : #000000;
            line-height: 32px;
            font-weight: 600;

        }

        i {
            display: none;
        }
    }



}

.printNumbers_box {
    position: absolute;

    .print_info {
        position     : relative;
        margin-bottom: 10px;
    }

    .opinionTable {
        tr {
            td:first-child {
                width: 50px;
            }

            td {
                position: relative;

                .handleIdea {
                    position: absolute;
                    right   : 15px;
                    bottom  : 15px;

                    p {
                        display      : inline-block;
                        min-width    : 80px;
                        border-bottom: 1px solid #000000;
                    }
                }
            }
        }
    }

    // .opinionTable {
    //     tr {
    //         td:first-child {
    //             width: 50px;
    //         }

    //         td {
    //             position: relative;

    //             .handleIdea {
    //                 position: absolute;
    //                 right   : 15px;
    //                 bottom  : 15px;

    //                 p {
    //                     display      : inline-block;
    //                     min-width    : 80px;
    //                     border-bottom: 1px solid #000000;
    //                 }
    //             }
    //         }
    //     }
    // }
}


/* 特殊长度 */
.width500 {
    width: 500px;
}

.width212 {
    width: 212px;
}

.width213 {
    width: 213px;
}

.width188 {
    width: 188px;
}

.width182 {
    width: 182px;
}

.width228 {
    width: 228px;
}

.width230 {
    width: 230px;
}

.width180 {
    width: 180px;
}
.width60 {
    width: 60px;
}

.width198 {
    width: 198px;
}

.width428 {
    width: 428px;
}

.width476 {
    width: 476px;
}
